/* master.css */


/*** Reset **********************************/
*{margin:0; padding:0;}
body{font:12px "돋움", Dotum, sans-serif; color:#000;}
table, tr, td{font:12px "돋움", Dotum, sans-serif; color:#000;}
input, select, option, textarea, button{font:12px "돋움", Dotum, sans-serif; color:#000;}
img, iframe, fieldset, input, select{border:0;}
h1, h2, h3, h4, h5, h6{font-size:1em; font-weight:normal;}
b{font-weight:normal;}
em, address{font-style:normal;}/*f기울여서 나오지 않게*/
hr{display:none;}
ul, li{list-style:none;}
a{text-decoration:none; color:#a9a9a9;}
a:hover{color:#fff;}


/*** Layout **********************************/
body{background:url(../images/bg1.jpg) no-repeat top fixed;}
/*fixed나 scroll은 body속성에만 적용됨*/
#wrapper{
	width:100%;
	height:1186px;
	background:url(../images/bg_foot.gif) repeat-x bottom;
}

/*** 헤더영역 **********************************/
#header{
	width:1245px;
	margin:0 auto;
	height:190px;
	/*margin auto때문에 float을 못주니까 위로 찌그러져버리는데 그래서 height를 설정해줌*/
}
/*입력양식*/
#search{
	float:right;
	margin-top:40px;
	margin-right:5px;
}
	#search fieldset{
		float:left;
			margin-left:4px;
}
	#search fieldset input,
	#search fieldset select{
	float:left;
	background-color:transparent;/*투명*/
	color:#a19276;
	}
	#search fieldset input.search{
		width:134px; height:23px;
		border:1px solid #a19276;
		border-right:none;
	}
		#search fieldset select{
		width:129px; height:25px;
		border:1px solid #a19276;
		border-right:none;
		}

/*로고*/
#header h1{
	clear:both;
	float:left;
	margin-top:34px;
}

/*메인메뉴*/
#mainNavi{
	float:right; /*여기까지 했을 때, 부모인 header에는 float을 안걸었으므로(margin auto때문에) 배너슬라이더 영역이 위로 치고 올라오고 header가 위로 찌그러진다. 헤더의 내용들은 정상적으로 보이지만 border는 찌그러짐. 해결하려면 헤더에 height를 준다*/
	margin-top:34px;
}

#mainNavi ul{
	float:left;
}

	#mainNavi ul li{
		float:left;
		}
	#mainNavi ul li a{
		display:block;
		height:31px;
		line-height:31px;
		font-size:1.3em; /*글자크기는 em으로!*/
		padding:0 30px;
	}
		#mainNavi ul li.last a{
			padding-right:15px;
		}
		#mainNavi ul li a strong{color:#a19276;}/*이것만 해주면 이 글씨는 hover색이 안바뀜*/
		#mainNavi ul li a:hover strong{color:#fff;}
		/*'동부인천스틸' 글자색을 굳이 strong 선택자를 따로 써서 지정해줬는데 그냥 위에 쓴 .last a 선택자에서 설정해주는 게 좋다고 생각함. 그러면 hover도 그대로 적용되고 */


/*** 배너슬라이더 영역 **********************************/
#banner{
	position:relative;/*relative 설정시 height설정*/
	width:1245px;
	height:344px;
	margin:0 auto;
}
#banner.banner_slider{}
#banner ul{}
	#banner ul li{
		position:absolute;
		top:120px;
		width:50px;
		height:104px;
		overflow:hidden;
		text-indent:-9999px;
		cursor:pointer;
	}
	#banner ul li.left{
		background:url(../images/left.png);
		left:-70px; /*부모태그에 position 걸려있으므로 또 position 안줘도*/
	}
	#banner ul li.right{
		background:url(../images/right.png);
		right:-70px;
	}

/*** 콘텐츠 영역 **********************************/
#container{
	width:1245px;
	height:352px;
	margin:90px auto 0;
}
dl.content{
	float:left;
	width:184px;
	margin-left:20px;
	color:#989ba2;
}
	dl.content dt{
		font-weight:bold;
		font-size:1.35em;
		padding:8px 5px;
		border-bottom:1px solid #454545;
	}
	dl.content dd{
		font-size:1.15em;
		letter-spacing:-1px;/*자간*/
		line-height:145%;/*정렬 목적이 아니라 줄간격 위해. 상하 가운데 정렬은 당연히 한 줄일 때만*/ /*px에 집착하지 말고 %를 잘 활용하자*/
		padding:10px 3px;
	}


/*** 푸터 영역 **********************************/
#footer{
	width:1245px;
	margin:0 auto;
}
/*서브 메뉴*/
#subNavi{
	float:left;
}
#subNavi ul{
	float:left;
	height:48px;
	margin-left:180px;
}
	#subNavi li{/*선택자에서 굳이 ul li안하고 그냥 li해도 됨. 하지만 ul넣어주는게 경로 확인하긴 좋음. 부모태그를 알 수 있으므로*/ 
		float:left;/*float 안 쓰고 배치하려면 inline-block으로 하면 됨. 헤더나 컨테이너에서는 잘 안씀. 푸터는 내용이 별로 없으니 가끔 씀*/
		margin-top:15px;
		background:url(../images/line1.jpg) no-repeat right center;
	}
		#subNavi li.last{background:none;}

	#subNavi li a{
		display:block;
		padding:0 40px;
		font-size:1.3em;
		letter-spacing:-1px;
		color:#fff;
	}


/*푸터로고*/
#footer h1{
	clear:both;
	float:left;
	margin-top:40px;
}
/*이용약관 및 서비스 카피라이트*/
#f_corp{
	float:left;
	width:1000px;
	margin-left:90px;
	font-size:1.1em;
	letter-spacing:-1px;
}
	#f_corp ul{
		float:left;
		padding-top:13px;
	}
		#f_corp ul li{
			float:left;
			margin-right:10px;
			padding-right:10px;
			margin-bottom:6px;
		}
		#f_corp ul li.first{
			background:url(../images/line2.jpg) no-repeat right center;
		}
		#f_corp ul li a{
			color:#000;
		}
	#f_service{
		clear:both;
	}
		#f_service em{
			display:inline-block;/*폭과 높이는 가지면서 인라인요소로 정렬되게. 이런 건 float주면 복잡해지므로*/
			width:295px;
		}
		#f_service b{
			display:inline-block
			width:160px;
		}
		#f_service span{
			margin-left:18px;
			margin-right:18px;
		}
	#f_corp address{
		clear:both;
		padding-top:8px;
	}



/*** Class **********************************/
.blind{display:none;}
.skip{
	display:block;
	height:0;/*높이가 0이어도 text는 영역을 벗어나 그대로 보임*/
	overflow:hidden;
	position:absolute;/*relative 설정을 안하면 브라우저를 기준으로함*/
	top:-9999px;
} /*.skip 바로가기 메뉴를 사람마다 어떻게 처리하는지 배워야*/

