/* HTML5 - semantic web */

/******** Common ***********************/
*{margin:0; padding:0;}
body{font:12px/normal "돋움", Dotum, sans-serif; color:#000;}
input, select, textarea{font:12px/normal "돋움", Dotum, sans-serif; color:#000;}
h1, h2, h3, h4, h5, h6{font-size:1.0em;}
ul, li{list-style:none;}
img, frame, fieldset{border:none;}
address, em{font-style:normal;}
a{text-decoration:none; color:#666;}
a:hover{color:#333}

/******** Layout ***********************/
body{
	width:980px;
	margin:0 auto;
	background:#ffc; /*border와 달리 background는 전체에 깔림*/
}

/******** header ***********************/
#main_header{
	overflow:hidden;/*자식에 float이 있는 경우 부모에 overflow:hidden;만 주면 됨. 부모의 형제엔 줄필요 없음*/
	width:100%;
}
/* 로고 */
#main_header > h1{
	float:left;
	margin-top:20px;
	margin-left:10px;
	}
#main_header > h1 > a {overflow:hidden; display:block;}
#main_header > h1 > a > img{float:left;} /*밑에 공백 약간 뜨는 것 없애려고*/
/* 상단메뉴 */
#topNav{
	float:right;
	margin-top:28px;
	}
	#topNav > ul{overflow:hidden;}
	#topNav > ul > li{
	float:left;
	margin-right:10px;

	}
	#topNav > ul > li a{
		display:block;
		background:pink;
	
	}

/******** main menu *********************/
#mainNav{
	width:100%;
	margin-top:20px;
	background:steelblue;
	position:relative;/*absolute에 대한 기준. 꼭 부모에다 주지 않아도 되긴 함*/
	z-index:50;
	height:41px;
}
	/* 메인메뉴 */
	#mainNav > ul{
		overflow:hidden;
		margin-left:80px;
	}
	#mainNav > ul > li{
		float:left;
		margin-right:50px;
	}
	#mainNav > ul > li > a{
		display:block;
		font-size:1.3em;
		font-weight:bold;
		padding:12px 12px 11px 12px;
		background:skyblue;
		text-transform:lowercase;/*소문자*/
	}
	/* 세부메뉴 */
	#mainNav > ul > li > ul{
		position:relative;
		top:0;

		overflow:hidden;
		height:0;

		transition-duration:1s;
		background:#ddd;
	}
	#mainNav > ul:hover > li > ul{
		height:50px;
	}

/******** banner slider ******************/
#banner{
	position:relative;
	z-index:30;
	width:100%; height:530px;/* relative는 반드시 높이설정 */
}


/******** contents *********************/
#wrap{
	width:100%;
}
/* 상단 */
#section_top{
	overflow:hidden;/*자식에 float 있어서 */
}
	#section_top > h2{
		font-size:2em;
		margin:50px 0 30px;
		padding-bottom:10px;
		border-bottom:1px solid #ccc;
	}
	#section_top > article{
		float:left;
		width:250px; height:130px;
		background:url(../images/icon_1.png) no-repeat left top;

		box-sizing:border-box;/*출력시 width값에 맞춰 영역이 설정. padding 넣어도 총 폭에 영향 없음*/
		padding-left:105px;
	}
	#section_top > article.detail_1{
	margin-left:10px;
	}
	#section_top > article.detail_2{
		margin-left:105px;
		background-image:url(../images/icon_2.png); /* background-image로 하면 위치와 반복값은 위에 background에 설정해둔 것과 동일하게 적용됨. 이미지만 바꾼다는 뜻*/
	}
	#section_top > article.detail_3{
		margin-left:105px;
		background-image:url(../images/icon_3.png);
	}
		#section_top > article > dl dt{
			font-size:1.5em;
			font-weight:bold;
			margin:10px 0 15px;
	}
		#section_top > article > dl > dd{
			color:#a29e9d;
		}
		#section_top > article > dl > dd > a{
			display:block;
			width:108px; height:30px;
			border:1px solid #453e3c;
			border-radius:8px;

			/*글자 디자인*/
			font-size:1.2em;
			font-weight:bold;
			text-transform:uppercase;/*대문자*/
			letter-spacing:0.1em;

			/*가운데 맞추기*/
			text-align:center;
			line-height:30px;

			margin-top:10px;
		}

/* 하단 */
#section_bottom{
	overflow:hidden;
	width:100%;
	margin-top:50px;
}
	#section_bottom > h2{
		font-size:2em;
		margin:50px 0 30px;
		padding-bottom:10px;
		border:1px solid #ccc;
	}
	#section_bottom > article{
		float:left;
		border-top:1px solid #ccc;
		border-bottom:1px solid #ccc;
	}
	#section_bottom > article.detail_1{
		margin-left:10px;
		width:480px; height:240px;
		background:url(http://placehold.it/240x150) no-repeat 0 65px;
	}
	#section_bottom > article.detail_2{
		width:480px; height:242px;/*detail_2의 박스는 border 사이즈가 추가되지 않고 나오므로 작게 나와서 2px 추가해줌*/
		border-left:1px solid #ccc;

		box-sizing:border-box;
		padding-left:20px;
	}
	#section_bottom > article.detail_3{
		overflow:hidden;
		margin-left:10px;
		width:960px; height:115px;
		border-top:none;
	}
	#section_bottom > article > dl{}
	#section_bottom > article.detail_3 > dl{
		float:left;
		width:293px; height:115px;
		padding-right:20px;
		margin-right:20px;
		background-position:148px 50%, 100% 50%; /* 쉼표로 구분하여 한번에 작성이 가능 */
		background-repeat:no-repeat;
	}
	#section_bottom > article.detail_3 > dl:nth-child(1){
		background-image:url(http://placehold.it/125x85), url(../images/line.png);
	}
	#section_bottom > article.detail_3 > dl:nth-child(2){
		background-image:url(http://placehold.it/125x80), url(../images/line.png);
	}
	#section_bottom > article.detail_3 > dl:nth-child(3){
		background-image:url(http://placehold.it/125x90);
		padding-right:0;
		margin-right:0;
	}
	#section_bottom > article > dl > dt{
		margin:30px 0 20px;
		font-weight:bold;
		font-size:1.5em;
	}
	#section_bottom > article > dl > dd{}
	#section_bottom > article.detail_1 > dl > dd{
	margin-left:260px;
	}


/******** footer ***********************/
#main_footer{
	overflow:hidden;
	width:100%;
	border-top:2px solid #000;
	margin-top:70px;
	padding-top:30px;
	padding-bottom:10px;
}
#main_footer > div:nth-child(1){
	float:left;
}
	#main_footer > div > nav{margin-bottom:20px;}
	#main_footer > div > nav > ul{}
	#main_footer > div > nav > ul > li{
		display:inline-block;/*float 대신 편하게*/
	}
#main_footer > div:nth-child(2){
	float:right;
}


