/* HTML5 - semantic web */

/******** Common ***********************/
*{margin:0; padding:0;}
body{font:12px/normal "돋움", Dotum, sans-serif; color:#000;}
input, select, textarea{font:12px/normal "돋움", Dotum, sans-serif; color:#000;}
h1, h2, h3, h4, h5, h6{font-size:1.0em;}
ul, li{list-style:none;}
img, frame, fieldset{border:none;}
address, em{font-style:normal;}
a{text-decoration:none; color:#666;}
a:hover{color:#333}


/******** Layout ***********************/
body{
	width:980px;
	margin:0 auto;
	border:2px solid skyblue;
	background:#ffc; /*border와 달리 background는 전체에 깔림*/
}

/******** header ***********************/
#main_header{
	overflow:hidden;/*자식에 float이 있는 경우 부모에 overflow:hidden;만 주면 됨. 부모의 형제엔 줄필요 없음*/
	width:100%;
	border:2px solid red;
}
/*로고*/
#main_header h1{
	float:left;
	margin-top:20px;
	margin-left:10px;
}
#main_header > h1 > a {overflow:hidden; display:block;}
#main_header > h1 > a > img{float:left;} /*밑에 공백 약간 뜨는 것 없애려고*/
/*상단메뉴*/
#topNav{
	float:right;
	margin-top:28px;
}
	#topNav ul{
		float:left;
	}
	#topNav ul li{
		float:left;
		margin-right:10px;
	}
	#topNav ul li a{
		display:block;
		background:pink;
	}
/******** main menu *********************/
#mainNav{
	width:100%;
	margin-top:20px;
	background:steelblue;
	position:relative;/*absolute에 대한 기준. 꼭 부모에다 주지 않아도 되긴 함*/
	z-index:50;
	height:40px;
}
	/* 메인메뉴 */
	#mainNav > ul{
		overflow:hidden;
		margin-left:80px;
	}
	#mainNav > ul > li{
		float:left;
		margin-right:50px;
	}
	#mainNav > ul > li > a{
		display:block;
		font-size:1.3em;
		font-weight:bold;
		padding:12px;
		background:skyblue;
		text-transform:lowercase;/*소문자*/
	}

	/* 세부메뉴 */
	#mainNav > ul > li > ul{
		position:relative;
		top:0;

		overflow:hidden;
		height:0;

		transition-duration:1s;
		background:#fff;
	}
	#mainNav > ul:hover > li > ul{
		height:50px;
	}
/******** banner slider ******************/
#banner{
	position:relative;
	z-index:30;
	width:100%; height:530px;/* relative는 반드시 높이설정 */
}
/******** contents *********************/
#wrap{
	width:100%;
}

/*상단 콘텐츠*/
#section_top{}
	#section_top > h2{
		font-size:2em;
		margin:50px 0 30px;
		padding-bottom:10px;
		border-bottom:1px solid #ccc;
	}
	#section_top > article{
		float:left;
		width:250px; height:130px;
		background:url(../images/icon_1.png) no-repeat left top;

		box-sizing:border-box;/*출력시 width값에 맞춰 영역이 설정. padding 넣어도 총 폭에 영향 없음*/
		padding-left:105px;
	}
	#section_top > article.detail_1{margin-left:10px;}
	#section_top > article.detail_2{
		margin-left:105px;
		background-image:url(../images/icon_2.png);
	}
	#section_top > article.detail_3{
		margin-left:105px;
		background-image:url(../images/icon_3.png);
	}
		#section_top > article > dl{}
		#section_top > article > dl > dt{
			font-size:1.5em;
			font-weight:bold;
			margin:10px 0 15px;
		}
		#section_top > article > dl > dd{
			color:#a29e9d;
		}
		#section_top > article > dl > dd > a{
			display:block;
			width:108px;
			height:30px;
			border:1px solid #453e3c;
			border-radius:8px;

			/*글자 디자인*/
			font-size:1.2em;
			font-weight:bold;
			text-transform:uppercase;/*대문자*/
			letter-spacing:0.1em;

			/*가운데 맞추기*/
			text-align:center;
			line-height:30px;

			margin-top:10px;
		}

/*하단 콘텐츠*/   /*여기부터 복습*********************************************/
#section_bottom{}

















/******** footer ***********************/


