/**** 초기화 ******************************/
*{margin:0; padding:0;}
body{font:12px "돋움", Dotum, sans-serif; color:#000;}
h1, h2, h3, h4, h5, h6{font-size:1.0em; font-weight:normal;}
input, select, option{font-size:1.0em;}
img, iframe, fieldset{border:none;}
legend{display:none;}
strong, b{font-style:normal;}
em, address{font-style:normal;}

ul, li{list-style:none;}

a{text-decoration:none; color:#000;}


/**** 레이아웃 *****************************/
body{
	width:980px;
	margin:0 auto;
}

/**** 헤더 *********************************/
#main_header{
	overflow:hidden;
	width:100%; height:75px;
}
	#main_header > h1{
		float:left;
		margin-left:15px;
		margin-top:10px;
	}

	#main_header > .login_menu{float:right; margin-top:10px;}

	#main_header > .login_menu > span{}
	#main_header > .login_menu > span > a{}



/**** 사이드 ******************************/
#global_aside{
	/* 화면크기 상관없이 사이드를 오른쪽에 고정 */
	position:fixed;
	top:76px; left:50%;
	margin-left:500px; /* body가 980이니 2로 나누고 margin 10더해서 */

	width:90px;
}
	#global_aside > a{
		overflow:hidden;
		display:block;
		margin-bottom:8px;
	}
	#global_aside > a > img{float:left;}

	#global_aside > a.top{
		width:90px; height:37px;
		background-color:#ccc;
		color:#969696;

		line-height:37px;
		text-align:center;

		margin-bottom:0;
		border-radius:0 0 10px 10px;
	}

/**** 상단메뉴 ****************************/
#top_gnb{
	overflow:hidden;
	width:100%;
}

	#top_gnb > div{
		float:left;
	}
	#top_gnb > div > a{
		display:block;
		width:140px; height:50px;
		background:url(../images/top_gnb.png) no-repeat;

		overflow:hidden;
		text-indent:-9999px;
	}
	/* original */
	#top_gnb > div.menu1 > a{background-position:0 0px;}
	#top_gnb > div.menu2 > a{background-position:0 -50px;}
	#top_gnb > div.menu3 > a{background-position:0 -100px;}
	#top_gnb > div.menu4 > a{background-position:0 -150px;}
	#top_gnb > div.menu5 > a{background-position:0 -200px;}
	#top_gnb > div.menu6 > a{background-position:0 -250px;}
	#top_gnb > div.menu7 > a{background-position:0 -300px;}

	/* rollover */
	#top_gnb > div.menu1 > a:hover{background-position:0 -350px;}
	#top_gnb > div.menu2 > a:hover{background-position:0 -400px;}
	#top_gnb > div.menu3 > a:hover{background-position:0 -450px;}
	#top_gnb > div.menu4 > a:hover{background-position:0 -500px;}
	#top_gnb > div.menu5 > a:hover{background-position:0 -550px;}
	#top_gnb > div.menu6 > a:hover{background-position:0 -600px;}
	#top_gnb > div.menu7 > a:hover{background-position:0 -650px;}

	/* .active */
	#top_gnb > div.menu1.active > a{background-position:0 -350px;}
	#top_gnb > div.menu2.active > a{background-position:0 -400px;}
	#top_gnb > div.menu3.active > a{background-position:0 -450px;}
	#top_gnb > div.menu4.active > a{background-position:0 -500px;}
	#top_gnb > div.menu5.active > a{background-position:0 -550px;}
	#top_gnb > div.menu6.active > a{background-position:0 -600px;}
	#top_gnb > div.menu7.active > a{background-position:0 -650px;}

/**** 하단메뉴 ***************************/
#bottom_gnb{
	overflow:hidden;
	width:100%;
}

	#bottom_gnb > div{
		float:left;
	}
	#bottom_gnb > div > a{
		display:block;
		width:98px; height:80px;
		background:url(../images/bottom_gnb.png) no-repeat;

		overflow:hidden;
		text-indent:-9999px;
	}

	/* original */
	#bottom_gnb > div.menu1 > a{background-position:0 0px;}
	#bottom_gnb > div.menu2 > a{background-position:0 -80px;}
	#bottom_gnb > div.menu3 > a{background-position:0 -160px;}
	#bottom_gnb > div.menu4 > a{background-position:0 -240px;}
	#bottom_gnb > div.menu5 > a{background-position:0 -320px;}
	#bottom_gnb > div.menu6 > a{background-position:0 -400px;}
	#bottom_gnb > div.menu7 > a{background-position:0 -480px;}
	#bottom_gnb > div.menu8 > a{background-position:0 -560px;}
	#bottom_gnb > div.menu9 > a{background-position:0 -640px;}
	#bottom_gnb > div.menu10 > a{background-position:0 -720px;}

	/* rollover */
	#bottom_gnb > div.menu1 > a:hover{background-position:0 -800px;}
	#bottom_gnb > div.menu2 > a:hover{background-position:0 -880px;}
	#bottom_gnb > div.menu3 > a:hover{background-position:0 -960px;}
	#bottom_gnb > div.menu4 > a:hover{background-position:0 -1040px;}
	#bottom_gnb > div.menu5 > a:hover{background-position:0 -1120px;}
	#bottom_gnb > div.menu6 > a:hover{background-position:0 -1200px;}
	#bottom_gnb > div.menu7 > a:hover{background-position:0 -1280px;}
	#bottom_gnb > div.menu8 > a:hover{background-position:0 -1360px;}
	#bottom_gnb > div.menu9 > a:hover{background-position:0 -1440px;}
	#bottom_gnb > div.menu10 > a:hover{background-position:0 -1520px;}

	/* active */
	#bottom_gnb > div.menu1.active > a{background-position:0 -800px;}
	#bottom_gnb > div.menu2.active > a{background-position:0 -880px;}
	#bottom_gnb > div.menu3.active > a{background-position:0 -960px;}
	#bottom_gnb > div.menu4.active > a{background-position:0 -1040px;}
	#bottom_gnb > div.menu5.active > a{background-position:0 -1120px;}
	#bottom_gnb > div.menu6.active > a{background-position:0 -1200px;}
	#bottom_gnb > div.menu7.active > a{background-position:0 -1280px;}
	#bottom_gnb > div.menu8.active > a{background-position:0 -1360px;}
	#bottom_gnb > div.menu9.active > a{background-position:0 -1440px;}
	#bottom_gnb > div.menu10.active > a{background-position:0 -1520px;}

/**** 세부목록 ***************************/
#detail_list{
	overflow:hidden;
	width:100%;

	background:#3b414d;
}

	#detail_list > ul{
		float:left;
		margin:17px 15px;
		width:166px;
	}
	#detail_list > ul > li{}
	#detail_list > ul > li > a{
		display:block;
		color:#fff;
		line-height:180%;
	}
	#detail_list > ul > li.header > a{
		font-weight:bold;
		margin-left:10px;
		color:#47c5ff;
	}

/**** 콘텐츠 *****************************/
#content{
	width:100%;
	margin-top:10px;
}
	#product_image{
		margin-bottom:8px;
		overflow:hidden;
	}
	#product_image > img{float:left;}

	#product_section{overflow:hidden;}
		#product_article{
			float:left;
			width:795px;
		}
		#product_article > img{float:left; margin-bottom:10px;}

		#product_aside{
			float:right;
			width:170px;
		}
		#product_aside > a{
			overflow:hidden;
			display:block;
			margin-bottom:3px;
		}
		#product_aside > a:last-child{margin-bottom:0;}
		#product_aside > img{float:left;}


/**** 푸터 *****************************/
#main_footer{
	width:100%;
	background-color:#9c9c9c;
	border-radius:4px;

	text-align:center;
	padding-top:10px;
	padding-bottom:10px;

	margin-top:8px;
}
	#main_footer > h3{
		font-size:1.5em;
		font-weight:bold;
	}
