<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>HTML5 시맨틱웹</title>
<link rel="stylesheet" href="CSS/master2.css" /> <!--html5는 type 안 씀-->
</head>

<body><!-- wrapper 따로 안 하고 그냥 body 씀 -->
	<header id="main_header">
		<h1><a href="#"><img src="http://placehold.it/200x30" alt="로고"/></a></h1>
		<nav id="topNav">
			<ul>
				<li><a href="#">홈</a></li><!--html5는 굳이 선택자 class=first last 안 해도-->
				<li><a href="#">로그인</a></li>
				<li><a href="#">회원가입</a></li>
				<li><a href="#">고객센터</a></li>
			</ul>
		</nav>
	</header>
	<nav id="mainNav">
		<ul>
			<li><a href="#">menu1</a>
				<ul>
					<li><a href="#">sub1-1</a></li>
					<li><a href="#">sub1-2</a></li>
					<li><a href="#">sub1-3</a></li>
				</ul>
			</li>
			<li><a href="#">menu2</a>
				<ul>
					<li><a href="#">sub2-1</a></li>
					<li><a href="#">sub2-2</a></li>
					<li><a href="#">sub2-3</a></li>
				</ul>
			</li>
			<li><a href="#">menu3</a></li>
			<li><a href="#">menu4</a></li>
			<li><a href="#">menu5</a></li>
			<li><a href="#">menu6</a></li>
			<li><a href="#">menu7</a></li>
		</ul>
	</nav>
	<div id="banner">
		<div class="banner_slider">
			<img src="images/model.png" alt="배너이미지1" />
		</div>
	</div>
	<div id="wrap"><!--container라고 해도 되고-->
		<section id="section_top">
			<h2>콘텐츠 - 상단</h2>
			<article class="detail_1">
				<dl>
					<dt>제목1</dt>
					<dd>세부내용1 세부내용1 세부내용1 세부내용1</dd>
				</dl>
			</article>
			<article class="detail_2">
				<dl>
					<dt>제목2</dt>
					<dd>
						세부내용2 세부내용2
						<a href="#">MORE</a>
					</dd>
				</dl>
			</article>
			<article class="detail_3">
				<dl>
					<dt>제목3</dt>
					<dd>
						세부내용3
						<a href="#">MORE</a>
					</dd>
				</dl>
			</article>
		</section>
		<section id="section_bottom">
			<h2>커뮤니티</h2>
			<article class="detail_1">
				<dl>
					<dt>커뮤니티제목1</dt>
					<dd>내용1-1</dd>
					<dd>내용1-2</dd>
					<dd>내용1-3</dd>
				</dl>
			</article>
			<article class="detail_2">
				<dl>
					<dt>커뮤니티제목2</dt>
					<dd>내용2-1</dd>
					<dd>내용2-2</dd>
					<dd>내용2-3</dd>
				</dl>
				<dl>
					<dt>커뮤니티제목3</dt>
					<dd>내용3-1</dd>
					<dd>내용3-2</dd>
					<dd>내용3-3</dd>
				</dl>
			</article>
			<article class="detail_3">
				<dl>
					<dt>카카오스토리</dt>
					<dd>카카오스토리내용</dd>
				</dl>
				<dl>
					<dt>TIP</dt>
					<dd>TIP 내용</dd>
				</dl>
				<dl>
					<dt>STORY</dt>
					<dd>STORY 내용</dd>
				</dl>
			</article>
		</section>
	</div>
	<footer id="main_footer">
		<div>
			<nav>
				<ul>
					<li class="first"><a href="#">회사소개</a></li> |
					<li><a href="#">고객센터</a></li> |
					<li><a href="#">이용약관</a></li> |
					<li><a href="#">개인정보취급방침</a></li> |
					<li><a href="#">이메일무단수집거부</a></li> |
					<li><a href="#">상담/제안/제휴문의</a></li> |
					<li class="last"><a href="#">사업자정보확인</a></li> 
				</ul>
			</nav>
			<address>
				카피라이트
			</address>
		</div>
		<div>
			<select>
				<option>FAMILY SITES</option>
				<option>SITE-1</option>
				<option>SITE-2</option>
				<option>SITE-3</option>
			</select>
		</div>
	</footer>
</body>
</html>
