<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>실습 - 동부제철</title>
<link rel="stylesheet" href="CSS/master.css" type="text/css">
</head>

<body>

<div id="wrapper">
	<div class="skip">
		<h2 class="blind">바로가기 메뉴</h2>
		<ul>
			<li><a href="#container">본문 바로가기</a></li>
			<li><a href="#mainNavi">주메뉴 바로가기</a></li>
			<li><a href="#subNavi">서브메뉴 바로가기</a></li>
		</ul>
	</div>

	<hr />

	<div id="header">
		<div id="search">
			<form action="" method="">
				<fieldset>
					<label class="blind">통합검색 단어 입력</label> <!--legend쓰면 박스의 위쪽에 제목붙음 label은 input된 것들의 앞에 붙는 제목. 여기 쓴 것은 blid시킬 예정이지만 알아두기 -->
					<input type="text" class="search" />
					<input type="image" src="images/btn_find.png" alt="검색버튼" />
				</fieldset>
				<fieldset>
					<label class="blind">지역본부선택</label>
					<select>
						<option>ENGLISH</option>
						<option>CHINESE</option>
					</select>
					<input type="image" src="images/btn_go.png">
				</fieldset>
			</form>
		</div><!--//입력양식 -->

		<h1><a><img src="images/main_logo_dongbu.png" alt="로고" /></a></h1><!--//로고 -->

		<h2 class="blind">메인메뉴<h2>
		<div id="mainNavi">
			<ul>
				<li class="first"><a href="#">회사소개</a></li><!--이 메뉴들은 hover color 설정할 예정-->
				<li><a href="#">제품소개</a></li>
				<li><a href="#">투자정보</a></li>
				<li><a href="#">홍보센터</a></li>
				<li><a href="#">채용정보</a></li>
				<li><a href="#">고객센터</a></li>
				<li class="last"><a href="#"><strong>동부인천스틸</strong></a></li>
			</ul>
		</div><!--//메인메뉴 -->
	</div><!--//header -->

	<hr />

	<div id="banner">
		<div class="banner_slider">
			<img src="images/title1.png" alt="동부제철은 냉연강판 부문 세계 최고의 품질을 지향합니다 " />
		</div>
		<ul>
			<li class="left">이전 배너</li>
			<li class="right">다음 배너</li>
		</ul>
	</div><!--//banner -->

	<hr />

	<div id="container">
		<dl class="content">
			<dt>냉연</dt>
			<dd>용광로, 전로, 열연공정을 거쳐 생산된 Hot Coil제품에 압하를 가해 얇게 만든 강판으로 자동차, 가전제품 등 다양한 용도로 사용되는 기초철강재입니다. </dd>
		</dl>
		<dl class="content">
			<dt>아연도</dt>
			<dd>기초소재인 냉연강판에 아연을 도금한 것으로 냉연강판에 비해 부식이 잘 되지 않는다는 특성을 가지고 있습니다. </dd>
		</dl>
		<dl class="content">
			<dt>석도</dt>
			<dd>냉연강판에 주석을 도금한 강판으로 아름다운 금속광택을 가지며, 가공성 및 내식성이 뛰어나고 인체에 무해한 강판입니다.</dd>
		</dl>
		<dl class="content">
			<dt>PEB</dt>
			<dd>동부 PEB시스템은 공간계획에서 부재설계, 제작까지의 전 공정이 일관 설계 프로그램에 의해 수행 관리되는 첨단철골건축시스템입니다. </dd>
		</dl>
		<dl class="content">
			<dt>칼라</dt>
			<dd>냉연강판, 아연도금강판, 알루미늄강판 등에 페인트를 입히거나 인쇄필름을 접착시켜 표면에 색깔, 또는 무늬를 입힌 강판입니다. </dd>
		</dl>
		<dl class="content">
			<dt>강판 / 형강</dt>
			<dd>강판으로 만든 수송용/구조용 부가제품으로, 각종 설비인프라 및 건물의 기초를 담당하고 있습니다. </dd>
		<dl/>
	</div><!--//container -->

	<hr />

	<div id="footer">
		<div id="subNavi">
			<h2 class="blind">서브메뉴</h2><!--blind인데 굳이 제목을 쓰는 이유:웹접근성-->
			<ul>
				<li class="first"><a href="#">판매담당자</a></li><!--스타일시트 넣든 안넣든 메뉴의 처음과 끝엔 class 달아주는 습관-->
				<li><a href="#">대리점</a></li>
				<li><a href="#">Biz Plaza</a></li>
				<li><a href="#">Procurement Plaza</a></li>
				<li><a href="#">검사증명서 원본대조</a></li>
				<li class="last"><a href="#">사이버 신문고</a></li>
			</ul>
		</div>

		<h1><a><img src="images/foot_logo.gif" alt="동부제철 로고" /></a></h1>

		<div id="f_corp">
			<ul>
				<li class="first"><a href="#">개인정보취급방침</a></li>
				<li class="last"><a href="#">사이트맵</a></li>
			</ul>

			<div id="#f_service">
				<ul>
					<li>
						<em>본사 : 서울특별시 중구 후암로98 STX남산타워 22층</em>
						<span>|</span> 
						<b>고객서비스 080-5600-114</b>
						<span>|</span> 
						대표전화 02-3450-8114 
						<span>|</span> 
						팩스 02-3450-8500
					</li>
					<li>
						<em>당진공장 : 충청남도 당진시 북부산업로 1228</em>
						<span>|</span> 
						<b>전화번호 041-351-8114</b>
						<span>|</span> 
						팩스 041-351-8115
					</li>
					<li>
						<em>음성공장 : 충청북도 음성군 삼성면 대금로 709</em>
						<span>|</span> 
						<b>전화번호 043-881-2311</b>
					</li>
					<li>
						<em>동부인천스틸 : 인천광역시 서구 백범로 789</em>
						<span>|</span> 
						<b>전화번호 032-570-4114</b>
						<span>|</span> 
						팩스 032-577-0158
					</li>
				</ul>
			</div><!--//f_service -->
			<address>&copy; 2015 Dongbu Steel All Rights Reserved.</address>
		</div><!--//f_corp -->

	</div><!--//footer -->

</div><!--//wrapper -->


</body>
</html>
