<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>실습 - 반응형웹</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="master.css" />
<link rel="stylesheet" href="p_master.css" media="screen and (min-width:980px)" />
<link rel="stylesheet" href="t_master.css" media="screen and (min-width:760px) and (max-width:978px)" />
<link rel="stylesheet" href="m_master.css" media="screen and (max-width:759px)" />

</head>

<body>
    <input type="checkbox" id="toggle" />
    <div id="wrap">
        <header id="main_header">
            <nav id="top_nav">
            	<ul>
                	<li><a href="#">로그인</a></li>
                	<li><a href="#">사이트맵</a></li>
                	<li><a href="#">언어</a></li>
                </ul>                  
            </nav>
            
            <h1 id="logo"><a href="#"><img src="images/logo.png" alt="logo" /></a></h1>
            
            <nav id="main_nav">
            	<h2><label for="toggle">주메뉴</label></h2>
            	<ul>
                	<li><a href="#">MENU1</a>
                    	<ul>
                        	<li><a href="#">SUB1-1</a></li>
                        	<li><a href="#">SUB1-2</a></li>
                        	<li><a href="#">SUB1-3</a></li>
                        </ul>
                    </li>
                	<li><a href="#">MENU2</a>
                    	<ul>
                        	<li><a href="#">SUB2-1</a></li>
                        	<li><a href="#">SUB2-2</a></li>
                        	<li><a href="#">SUB2-3</a></li>
                        	<li><a href="#">SUB2-4</a></li>
                        </ul>
                    </li>
                	<li><a href="#">MENU3</a>
                    	<ul>
                        	<li><a href="#">SUB3-1</a></li>
                        	<li><a href="#">SUB3-2</a></li>
                        </ul>
                    </li>
                	<li><a href="#">MENU4</a></li>
                	<li><a href="#">MENU5</a></li>
                	<li><a href="#">MENU6</a></li>
                </ul>
            </nav>
        </header>
        <div id="banner">
        	<div class="banner_slider">
            	<img src="images/banner1.png" alt="배너이미지1">
            </div>
        </div>
        <div id="main_icon">
        	<div><a href="#">ICON-1</a></div>
        	<div><a href="#">ICON-2</a></div>
        	<div><a href="#">ICON-3</a></div>
        	<div><a href="#">ICON-4</a></div>
        	<div><a href="#">ICON-5</a></div>
        	<div><a href="#">ICON-6</a></div>
        </div>
        <div id="content">
        	<section id="main_section">
            	<article>
                	<dl>
                    	<dt>article - 1</dt>
                        <dd>
                        	<p>article text</p>
                        	<p>article text</p>
                        </dd>
                    </dl>
                </article>
            	<article>
                	<dl>
                    	<dt>article - 2</dt>
                        <dd>
                        	<p>article text</p>
                        	<p>article text</p>
                        </dd>
                    </dl>
                </article>
            	<article>
                	<dl>
                    	<dt>article - 3</dt>
                        <dd>
                        	<p>article text</p>
                        	<p>article text</p>
                        </dd>
                    </dl>
                </article>
            	<article>
                	<dl>
                    	<dt>article - 4</dt>
                        <dd>
                        	<p>article text</p>
                        	<p>article text</p>
                        </dd>
                    </dl>
                </article>
            	<article>
                	<dl>
                    	<dt>article - 5</dt>
                        <dd>
                        	<p>article text</p>
                        	<p>article text</p>
                        </dd>
                    </dl>
                </article>
            	<article>
                	<dl>
                    	<dt>article - 6</dt>
                        <dd>
                        	<p>article text</p>
                        	<p>article text</p>
                        </dd>
                    </dl>
                </article>
            	<article>
                	<dl>
                    	<dt>article - 7</dt>
                        <dd>
                        	<p>article text</p>
                        	<p>article text</p>
                        </dd>
                    </dl>
                </article>
            	<article>
                	<dl>
                    	<dt>article - 8</dt>
                        <dd>
                        	<p>article text</p>
                        	<p>article text</p>
                        </dd>
                    </dl>
                </article>
            </section>
        </div>
        <footer id="main_footer">
        	<h1 id="f_logo">
            	<a href="#"><img src="images/f_logo.png" alt="푸터로고" /></a>
            </h1>            	
            <div id="copyright">
            	copyright
            </div>
            <fieldset id="fms_list">
            	<legend>패밀리사이트</legend>
            	<select>
                	<option>list - 1</option>
                	<option>list - 2</option>
                	<option>list - 3</option>
                </select>
            </fieldset>
        </footer>
    </div>
</body>
</html>
