/* m_master.css */

body{}
input#toggle{display:none;}
#wrap{}

/*헤더*/
#main_header{
	position:relative;
	height:50px; 
	z-index:50;

	background:url(images/logo.png) no-repeat center #999;
}

	#top_nav{display:none;}
	#logo{float:left;}
		#logo > a{
			display:block;
			width:35px; height:35px;
			background:url(images/btn_home.png);
			margin-top:8px;
		}
		#logo > a > img{display:none;}
		
	#main_nav{
		float:right;
		position:relative;
		
	}
		#main_nav > h2{
				margin-top:8px;
			}
			#main_nav > h2 > label{
					display:block;
					width:35px; height:35px;
					background:url(images/btn_toggle.png);
					overflow:hidden;
					text-indent:-9999px;
				}

	/*토글메뉴*/
	input#toggle + #wrap #main_nav > ul{
		display:none;
		width:200px;
		
		position:fixed;
		left:0; top:0; bottom:0;
		
		background:rgba(0,0,0,0.8)
	}
	input#toggle + #wrap #main_nav > #btn_close{
		display:none;
		width:35px; height:35px;
		background:url(images/close.png);
		
		position:fixed;
		left:150px; top:0;
		
		overflow:hidden;
		text-indent:-9999px;
	}
	input#toggle:checked + #wrap #main_nav > ul{display:block;}
	input#toggle:checked + #wrap #main_nav > #btn_close{display:block;}

/*배너 슬라이더*/
#banner{
	position:relative;
	height:250px;
	width:100%; 
	
	z-index:30;
}
	#banner > .banner_slider{
		width:100%; height:350px;
		background:url(images/m_banner.png) no-repeat;
		background-position: 50% 0;
	}
	#banner > .banner_slider > img{display:none;}

/*메인아이콘*/
#main_icon{overflow:hidden;}
	#main_icon > div{
		float:left; 
		width:33.3%;
		background:url(images/icon1.png) no-repeat 50% 5px; 
		text-align:center;
	}
	#main_icon > div:first-child{}
	
	#main_icon > div:nth-of-type(1){background-image:url(images/icon1.png);}
	#main_icon > div:nth-of-type(2){background-image:url(images/icon2.png);}
	#main_icon > div:nth-of-type(3){background-image:url(images/icon3.png);}
	#main_icon > div:nth-of-type(4){background-image:url(images/icon4.png);}
	#main_icon > div:nth-of-type(5){background-image:url(images/icon5.png);}
	#main_icon > div:nth-of-type(6){background-image:url(images/icon6.png);}
	
	#main_icon > div > a{
		display:block; 
		width:100%; 
		height:110px; 
		padding-top:85px; 
		box-sizing:border-box;
	}
	
/*콘텐츠*/
#content{
		margin-top:10px;
		margin-bottom:10px;
	}
	#main_section{overflow:hidden;}
	#main_section > article{
		float:left;
		width:96%; height:230px;
		margin-left:2%;
		margin-right:2%;
		border:1px solid #ccc;
		border-bottom:none;
		box-sizing:border-box;
	}
	#main_section > article:last-child{border-bottom:1px solid #ccc;}
	
	#main_section > article > dl{}
	#main_section > article > dl > dt{
			height:30px;
			border-bottom:1px dashed #ccc;
			font-size:1.2em;
			font-weight:bold;
			line-height:30px;
		}
	#main_section > article > dl > dd{}


/*푸터*/
#main_footer{
		background:#ccc;
		padding:15px 0;
	}
	#f_logo{display:none;}
	#copyright{text-align:center;}
	#fms_list{display:none;}




