/*p_master.css*/

body{
	background:url(images/bg_top.png), url(images/bg_bottom.png), url(images/bg1.png);
	background-repeat:repeat-x, repeat-x, repeat;
	background-position:50% 0%, 50% 100%, 0% 0%;
}
input#toggle, #btn_close{display:none;}
#main_nav > h2{display:none;}

#wrap{width:980px; margin:0 auto; background:#fff;}

/*헤더*/
#main_header{position:relative; width:100%; z-index:50;}
	#top_nav{overflow:hidden; height:30px; background:url(images/bg_top.png);}
		#top_nav > ul{float:right;}
		#top_nav > ul > li{float:left;}
		#top_nav > ul > li > a{display:block; margin-left:5px; line-height:30px;}
	#logo{margin:10px 390px;}
		#logo > a{overflow:hidden; display:block;}
		#logo > a > img{float:left;}	
	#main_nav{height:40px; background:beige;}
		#main_nav > ul{overflow:hidden; margin-left:250px;}
		#main_nav > ul > li{float:left; margin-top:3px; margin-right:10px;}
		#main_nav > ul > li > a{display:block; background:yellowgreen; padding:0 10px; height:34px; line-height:34px;}
		#main_nav > ul > li > a:hover{background:green;}
			#main_nav > ul > li > ul{overflow:hidden; height:0; background:rgba(255,255,255,0.5); transition-duration:1s;}
			#main_nav > ul:hover > li > ul{overflow:hidden; height:100px;}
			#main_nav > ul:hover > li > ul >li:hover > a{color:#f00;}

/*배너 슬라이더*/
#banner{
	position:relative;
	height:450px;
	width:100%; 
	
	z-index:30;
}

/*메인아이콘*/
#main_icon{
	overflow:hidden;
	width:100%; 
}
	#main_icon > div{float:left; margin-right:10px; background:url(images/icon1.png) no-repeat 50% 5px; text-align:center;}
	#main_icon > div:first-child{margin-left:130px;}
	
	#main_icon > div:nth-of-type(1){background-image:url(images/icon1.png);}
	#main_icon > div:nth-of-type(2){background-image:url(images/icon2.png);}
	#main_icon > div:nth-of-type(3){background-image:url(images/icon3.png);}
	#main_icon > div:nth-of-type(4){background-image:url(images/icon4.png);}
	#main_icon > div:nth-of-type(5){background-image:url(images/icon5.png);}
	#main_icon > div:nth-of-type(6){background-image:url(images/icon6.png);}
	
	#main_icon > div > a{display:block; width:110px; height:110px; padding-top:80px; box-sizing:border-box;}
	

/*콘텐츠*/
#content{
		width:100%; 
		margin-top:10px;
		margin-bottom:10px;
	}
	#main_section{
		overflow:hidden;
		border-bottom:1px solid #ccc;
	}
	#main_section > article{
		float:left;
		width:245px; height:230px;
		border:1px solid #ccc;
		border-right:none;
		border-bottom:none;
		box-sizing:border-box;
	}
	#main_section > article:nth-of-type(4),
	#main_section > article:nth-of-type(8){border-right:1px solid #ccc;}
	
	#main_section > article > dl{}
	#main_section > article > dl > dt{
			height:30px;
			border-bottom:1px dashed #ccc;
			font-size:1.2em;
			font-weight:bold;
			line-height:30px;
		}
	#main_section > article > dl > dd{}

/*푸터*/
#main_footer{
	overflow:hidden;
	width:100%; height:70px;
	background:url(images/bg_bottom.png);
}
	#f_logo{
		float:left;
		margin-top:10px;	
	}
	#copyright{
		float:left;
		margin-left:200px;	
		margin-top:20px;	
	}
	#fms_list{
		float:right;
		margin-top:20px;	
	}