/* master.css */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/**** 초기화 **************************************/
*{margin:0; padding:0;}
body{font:14px "Nanum Gothic", "돋움", Dotul, sans-serif; color:#000;}
h1, h2, h3, h4, h5, h6{font-size:1.0em;}
input, select, option{font-size:1.0em;}
img, iframe, fieldset{border:none;}
legend{display:none;}
ul, li{list-style:none;}
b, strong{font-weight:normal;}
em, i{font-style:normal}
a{text-decoration:none; color:#000;}