<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>실습 - Re:NK</title>
<link rel="stylesheet" href="CSS/master.css" />
</head>
<body>
	<header id="main_header">
		<a href="#content" class="skip">본문바로가기</a>
		<nav class="global_container">
			<ul>
				<li><a href="#">ENGLISH</a></li>
				<li><a href="#">中文</a></li>
			</ul>
		</nav>

		<h1 id="logo"><a href="#"><img src="images/logo.jpg" alt="로고"/></a></h1>

		<nav id="nav_wrap">
			<h2 class="blind">주메뉴</h2>
			<ul id="nav_top">
				<li><a href="#">회원가입</a></li>
				<li><a href="#">로그인</a></li>
				<li><a href="#">마이페이지</a></li>
				<li><a href="#">멤버쉽</a></li>
				<li class="bg_line"><a href="#">고객센터</a></li>
				<li class="search"><a href="#">검색</a></li>
				<li class="face"><a href="#">페이스북</a></li>
			</ul>
			<ul id="gnb">
				<li><a href="#">STORY</a></li>
				<li><a href="#">PRODUCT</a></li>
				<li><a href="#">COMMUNITY</a></li>
				<li><a href="#">SHOPPING</a></li>
			</ul>
		</nav>
	</header><!--//header -->
	<div id="banner">
		<div class="banner_slider">
			<img src="images/banner1.jpg" alt="배너1" />
		</div>
	</div><!--//banner -->

	<div id="content">
		<section class="main_con1">
			<a href="#">
				<h3>Re:starter Beauty College</h3>
				<p>뷰티컬리지 선정자 총 220만원 상당의 스킨케어 + 재취업 관련 교육 프로그램을 제공</p>
			</a>
		</section>
		<section class="main_con2">
			<a href="#">
				<h3>Club Re:NK 멤버십 혜택</h3>
				<p>Re:NK 고객님을 위해 마련된 아름답고 특별한 혜택, Club Re:NK로 초대합니다.</p>
			</a>
		</section>
		<section class="main_con3">
			<figure>
				<img src="images/con3_thum.jpg" alt="리엔케이 메인모델 고현정사진" />
			</figure>
			<div>
				<h3>Re:NK 브랜드 스토리</h3>
				<p>
					Re:NK만의 새로운 테크놀로지 이야기가 시작됩니다. Re:NK 셀 테크놀로지로 당신의 피부 셀 에너지를 올려보세요.
					<a href="#">more</a>
				</p>
			</div>
		</section>
		<section class="main_con4">
			<div>
				<h3>Re:NK 이벤트</h3>
				<p>
					Re:NK 에서 진행되는 이벤트에 참여해 주세요. 다양한 상품과 행사를 통해 특별한 혜텍을 드립니다.
					<a href="#">more</a>
				</p>
			</div>
			<ul>
				<li><a href="#">Re:NK 온라인기획전</a></li>
				<li><a href="#">Re:NK Re:ple 체험단 4기 모집</a></li>
				<li><a href="#">Re:NK 효능</a></li>
			</ul>
		</section>
	</div><!--//content -->

	<div id="main_footer">
		<div class="footerRight">
			<h1 class="f_logo"><a href="#" target="_blank"><img src="images/f_logo_WA.jpg" alt="WEBAWARD" /></a></h1>

			<ul class="footUtill">
				<li><a href="#">개인정보취급방침</a></li>
				<li><a href="#">개인정보처리방침</a></li>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">이메일무단수집거부</a></li>
			</ul>

			<fieldset>
				<legend>가맹점 및 직원 모집 패밀리사이트 이동</legend>
				<input type="image" src="images/f_btn_recurit1.jpg" alt="대리점모집" />
				<input type="image" src="images/f_btn_recurit2.jpg" alt="뷰티플래너모집" />
				<select>
					<option>Family Site</option>
					<option>올빚</option>
					<option>네이처런스 프롬</option>
					<option>헬시그루</option>
				</select>
				<input type="image" src="images/f_btn_fms.jpg" alt="이동" />
			</fieldset>
		</div>
		<div class="footerLeft">
			<address>
				<span><b>고객서비스센터 030-200-5100</b> (상담시간 평일 09:00~18:00, 주말/국공휴일 상담불가)</span><br />
				<span>서울시 중구 서소문로 88 중앙일보빌딩 11층~17층</span> <span>충남 공주시 유구읍 유구마곡사로 136-23</span><br />
				<span>코웨이 주식회사</span> <span>대표이사 김동현</span> <span>사업자 등록번호 307-81-06054</span><br />
				<span>통신판매신고 제 2005-21호 [사업자 정보확인]</span>
			</address>
			<p>COPYRIGHT COWAY CO., LTD. ALL RIGHTS RESERVED.</p>
		</div>
	</div><!--//footer -->
</body>
</html>