<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Starbucks</title>
<link rel="stylesheet" href="CSS/master.css" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1><a href="#"><span class="del">logo</span></a></h1>
		<div id="upper">
			<ul id="upperMenu">
				<li><a href="#">Sine in</a></li><span>|</span>
				<li><a href="#">My Starbucks</a></li><span>|</span>
				<li><a href="#">Customer Service & Idea</a></li><span>|</span>
				<li><a href="#">Find a Store</a></li>
			</ul>
			<form id="search">
				<fieldset>
					<label for="searchfield"><a href="#"><img src="images/btn_search_03.png" alt="찾기버튼" /></a></label>
					<input id="searchfield" type="text" />
				</fieldset>
			</form>
		</div>
		<ul id="mainNav">
			<li><a href="#">COFEEE</a></li>
			<li><a href="#">MENU</a></li>
			<li><a href="#">COFFEE HOUSE</a></li>
			<li><a href="#">RESPONSIBILTY</a></li>
			<li><a href="#">CARD</a></li>
			<li><a href="#">WHAT'S NEW</a></li>
		</ul>
	</div><!--//header -->

	<div id="container">
		<div id="banner1"><a href="#"><span class="del">banner1</span></a>
		</div>
		<div id="banner2"><a href="#"><span class="del">banner2</span></a>
		</div>
		<div id="banner3"><a href="#"><span class="del">banner3</span></a>
		</div>
	</div><!--//container -->

	<div id="footer">
		<div id="f_menu">
			<dl id="f_menu1">
				<dt><a href="#">회사소개</a></dt>
				<dd><a href="#">사명선언서</a></dd>
				<dd><a href="#">스타벅스 소개</a></dd>
				<dd><a href="#">보도자료</a></dd>
			</dl>
			<dl id="f_menu2">
				<dt><a href="#">매장</a></dt>
				<dd><a href="#">지도로 찾기</a></dd>
				<dd><a href="#">매장 찾기</a></dd>
				<dd><a href="#">테마가 있는 매장</a></dd>
				<dd><a href="#">매장 갤러리</a></dd>
				<dd><a href="#">세계의 스타벅스</a></dd>
			</dl>
			<dl id="f_menu3">
				<dt><a href="#">고객 서비스</a></dt>
				<dd><a href="#">FAQ</a></dd>
				<dd><a href="#">고객의 소리</a></dd>
				<dd><a href="#">온라인 설문조사</a></dd>
			</dl>
			<dl id="f_menu4">
				<dt><a href="#">입점 및 협력사 포털</a></dt>
				<dd><a href="#">신규 입점 제의</a></dd>
				<dd><a href="#">협력사 포털 시스템</a></dd>
			</dl>
			<dl id="f_menu5">
				<dt><a href="#">바로가기</a></dt>
				<dd><a href="#">프로모션 & 새소식</a></dd>
				<dd><a href="#">매장찾기</a></dd>
				<dd><a href="#">Starbucks Shared Planet</a></dd>
				<dd><a href="#">소셜 스타벅스</a></dd>
				<dd><a href="#">채용 / RECRUIT</a></dd>
			</dl>
		</div>
		<address>
			사업자등록번호 201-81-21515 (주)스타벅스커피 코리아 대표이사 이석구 &nbsp; &nbsp; TEL:02)3015-1100 &nbsp; &nbsp; FAX:02)3015-1106 &nbsp; &nbsp; 개인정보 책임자 : 강기원<br />
			<a href="#">개인정보취급방침</a> | <a href="#">영상정보처리기기 운영 및 관리 지침</a> | <a href="#">이용약관</a> | <a href="#">스타벅스 카드 이용 약관</a> | <a href="#">윤리경영 핫라인</a> | <a href="#">찾아오시는 길</a> | <a href="#">신규입점제의</a> | <a href="#">사이트 맵</a><br />
			&copy; 2011 Starbucks Coffee Company. All Rights Reserved.
		</address>
	</div><!--//footer -->
</div>
</body>
</html>
