/* master.css */

/****** reset **********************************************/
*{margin:0; padding:0;}
body{font:12px "돋움", Dotum, sans-serif; color:#353535;}
table, tr, td{font:12px "돋움", Dotum, sans-serif; color:#353535;}
input, select, textarea, button{font:12px "돋움", Dotum, sans-serif; color:#353535;}
img, iframe, fieldset, input, select{border:0;}
h1, h2, h3, h4, h5, h6{font-size:1em; font-weight:normal;}
em, address{font-style:normal;}/*기울여서 나오지 않게*/
ul, li{list-style:none; color:#353535;}
a{text-decoration:none; color:#353535;}
a:hover{color:#353535; text-decoration:underline;}


/****** layout **********************************************/
body{background:#fff}
#wrapper{
	width:1200px;
	margin:0 auto;
}

/*** header ***/
#header{
	width:902px;
	height:94px;
	margin:0 auto;
}

#header h1{}
	#header h1 a{
		float:left;
		display:block;
		width:76px;
		height:94px;
		background:url(../images/logo.png);
	}
#header #upper{
	float:right;
	width:680px;
	height:33px;
}
	#header #upper #upperMenu,
	#header #upper li,
	#header #upper a,
	#header #upper span{
		float:left;
		height:100%;
		color:#7c7c7c;
		line-height:33px;
		font-size:1.04em;
		letter-spacing:0.03em;
	}
	#header #upper #upperMenu{margin-top:1px;}

	#header #upper span{
		margin:0 18px;
	}

	#header #upper #search{
		float:right;
		margin-top:4px;
	}
		#header #upper #search #searchfield{
			width:128px;
			height:20px;
			border:2px solid #797979;
			border-left:0;
		}

#header #mainNav{
	float:right;
	width:790px;
	height:12px;
	margin-top:29px;
}

	#header #mainNav li{
	float:left;
	margin:0 24px;
}
	#header #mainNav li a{
	color:#555;
	font-weight:bold;
	font-size:1.2em;
	}
		#header #mainNav li a:hover{
		background:#bbb;
		text-decoration:none;
		}

/*** container ***/
#container{
	float:left;
	width:100%;
	height:608px;
	background:url(../images/back.png)
}
#container #banner1{
	float:left;
	margin-top:119px;
	width:346px;
	height:105px;
	}
#container #banner2{
	clear:both;
	float:left;
	margin-top:44px;
	width:346px;
	height:105px;
	}
#container #banner3{
	clear:both;
	float:left;
	margin-top:50px;
	width:346px;
	height:105px;
	}

#container #banner1 a{
	display:block;
	width:346px;
	height:105px;
	background:url(../images/banner1.png);
}
#container #banner2 a{
	display:block;
	width:346px;
	height:105px;
	background:url(../images/banner2.png);
}
#container #banner3 a{
	display:block;
	width:346px;
	height:105px;
	background:url(../images/banner3.png);
}

/* hover */
#container #banner1 a:hover{
	display:block;
	width:346px;
	height:105px;
	background:url(../images/banner1_hover.png);
}
#container #banner2 a:hover{
	display:block;
	width:346px;
	height:105px;
	background:url(../images/banner2_hover.png);
}
#container #banner3 a:hover{
	display:block;
	width:346px;
	height:105px;
	background:url(../images/banner3_hover.png);
}




/*** footer ***/
#footer{
	clear:both;
	width:100%;
	height:160px;
}

#footer #f_menu{
	margin:0 auto;
	width:1000px;
	height:120px;
	/*border:1px solid red;*/
}
	#footer #f_menu dl{
	float:left;
	width:120px;
	height:100px;
	}
	#footer #f_menu #f_menu1{margin:8px 40px 0 100px;}
	#footer #f_menu #f_menu2{margin:8px 45px 0 0;}
	#footer #f_menu #f_menu3{margin:8px 60px 0 0;}
	#footer #f_menu #f_menu4{margin:8px 110px 0 0;}
	#footer #f_menu #f_menu5{margin:8px 0px 0 0;}

		#footer #f_menu dl dt{
			font-weight:bold;
			margin-bottom:10px;
		}
		#footer #f_menu dl dd{
			font-size:0.88em;
		}

#footer address{
	width:100%;
	height:40px;
	text-align:center;
	font-size:0.8em;
}






/****** class **********************************************/
.del{display:none;}
