/*sub_t_master.css*/

body{}	
input#toggle{display:none;}	
#wrap{}


/****************** header **********************/
#main_header{overflow:hidden; border-bottom:1px solid #55bae8;}
	#logo > a{
		float:left;
		display:block;
		width:238px; 
		height:34px; 
		background:url(../images/m_logo.png);
		margin-left:6px;
		margin-top:11px;
		
		text-indent:-9999px;
		overflow:hidden;
	}
	#m_login > a{
		float:right;
		display:block;
		width:84px; 
		height:33px; 
		background:url(../images/m_login.png);
		margin-right:9px;
		margin-top:7px;
		
		text-indent:-9999px;
		overflow:hidden;
	}

	
/****************** 펼쳐지는 gnb **********************/
	#main_nav{
		display:none;
		position:fixed;
		bottom:60px;
		right:0;
		
		width:140px;
		background:rgba(15,100,100,0.85);
		z-index:50;
	}
		#main_nav > ul{padding-bottom:20px;}
		#main_nav > ul > li{}
		#main_nav > ul > li > a{
			display:block; 
			padding-top:15px; 
			padding-right:20px;
			color:#fff; 
			font-size:1em;
			text-align:right;
		}
	
	/*gnb 접는 'X'버튼*/
		#btn_close{
			width:30px; height:30px;
			background:url(../images/btn_close.png);
			
			position:absolute;
			left:10px;
			top:10px;
			
			overflow:hidden;
			text-indent:-5000px;
			
			z-index:60;
		}
	
	/*gnb버튼 (하단고정)*/	
	#toggle_label{
		position:fixed; 
		left:15px;
		bottom:66px;
		
		width:58px; 
		height:58px;
		background:url(../images/m_gnb_btn.png);
		
		overflow:hidden;
		text-indent:-9999px;
		
		z-index:40;
		}
		
	/*toggle*/
		input#toggle:checked ~ nav#main_nav{display:block;}


/****************** 하단 고정 메뉴 **********************/
#right_nav{
	position:fixed;
	right:0;
	left:0; 
	bottom:0;
	z-index:90;

}
	#right_nav > ul{overflow:hidden;}
		#right_nav > ul > li{
			float:left;
			width:25%;
		}
		#right_nav > ul > li > a{
			display:block;
			width:100%; 
			height:60px; 
			background:#616161 url(../images/right_nav_btn_1.png) no-repeat center 7px;
			border-right:1px solid #717171;
			color:#fff;
			font-size:12px;
			text-align:center;
			padding-top:40px;
			box-sizing:border-box;
		}
		#right_nav > ul > li:nth-of-type(2) > a{
			background-image:url(../images/right_nav_btn_2.png);
		}
		#right_nav > ul > li:nth-of-type(3) > a{
			background-image:url(../images/right_nav_btn_3.png);
		}
		#right_nav > ul > li:nth-of-type(4) > a{
			background-image:url(../images/right_nav_btn_4.png);
		}
		#right_nav > ul > li:nth-of-type(5){display:none;}
		
			#right_nav > ul > li > a > p{display:inline;}


/****************** 콘텐트 **********************/
#content{}

	/* content */
	#con_wrap{margin:0 auto; width:95%;}
	
		/*"온라인예약" 큰 제목*/
		#con_wrap > h2{
			font-size:45px;
			font-weight:bold;
			color:#128885;
			text-align:center;
			margin-top:100px;
		}
		
		/*공지사항 박스*/
		#notice_box{
			height:180px;
			margin-top:60px;
			
			background:#d0e8f2;
			background-image:url(../images/border_left.png), url(../images/border_right.png), url(../images/letter.png);
			background-repeat:no-repeat, no-repeat, no-repeat;
			background-position:top left, top right, 80px center;
			
			text-align:center;
			padding-top:38px;
			box-sizing:border-box;
		}
			#notice_box > #notice{
				display:inline-block;
				text-align:left;
				padding-left:100px;
				font-size:1.1em;
				color:#666;
			}
	
		/*개인정보 보호정책*/
		#policy{}
			#policy > article{
				height:180px;
				overflow:auto;
				font-size:14px;
				color:#666;
				padding:30px 30px 0 30px;
				border:1px solid #ccc;
				margin-top:10px;
			}
			#agree{}
			#agree > form{
				height:70px;
				border:1px solid #ccc;
				border-top:none;
				background:#efefef;
			}
				#agree > form > input{
					float:left; 
					margin-left:49%; 
					margin-top:30px;
				}
				#agree > form > p{
					float:left; 
					margin-left:5px; 
					margin-top:28px;

					color:#666;
					font-weight:bold;
					font-size:14px;
				}
	
	/*기본정보 입력*/
	#basic_info{overflow:hidden;}
		#basic_info > h3{float:left;}
		#basic_info > p{
			float:right;
			margin-top:60px;
		}
			#basic_info > p > b.star{
				float:left;
			}
			#basic_info > p > span{
				display:inline-block;
				margin-top:8px;
				float:left;
			}
			
		/*입력 양식 표*/	
		#input_table{
			width:100%;
			border-top:2px solid #666;
		}
			#input_table tr{
				height:45px;
				border-bottom:1px solid #ccc;
			}
			#input_table td.left_col{
				background-color:#eaeaea;
				padding-left:15px;
				font-weight:bold;
			}
			#input_table tr td:last-child{padding-left:20px;}
			#input_table form{font-size:15px;}

	/*날짜 시간 선택*/
	#date_time{}
		#date_time > h3{}
	
		/* 날짜(달력) */
		#date{
			margin:0 auto;
			border:1px solid #ccc;
			border-top:2px solid #666;
			margin-top:15px;
		}
			#date_choose{
				height:63px;
				background:#efefef;
				line-height:63px;
				text-align:center;
				font-weight:bold;
				font-size:1.2em;
			}
			#currentMon{
				height:63px;
				line-height:63px;
				text-align:center;
				font-weight:bold;
				font-size:1.2em;
			}
				.mBt{margin:0 30px;}
				
			#month_table{
				margin:0 auto;
				width:405px;
				}
			
			#selected_date{
				height:63px;
				line-height:63px;
				text-align:center;
				font-weight:bold;
			}

	
.boradMonth {margin: 0 30px; border:1px solid #ccc}
.boradMonth thead th {height:43px; line-height:43px; color:#333; border-bottom:1px solid #ccc}
.boradMonth tbody td {padding:1px 0 3px; height:27px; line-height:27px; font-weight:bold; text-align:center}
.boradMonth thead th:first-child,
.boradMonth tbody td:first-child a{color:#d91f1f}
.boradMonth thead th.end,
.boradMonth tbody td.end a{color:#1e83eb}
.boradMonth tbody td.last a{color:#bdbdbd;}
.boradMonth tbody td:first-child.last a{color:#e87979}
.boradMonth tbody td.end.last a{color:#62a4e9}
.boradMonth tbody td a{display:inline-block; width:31px; height:26px; line-height:25px;}
.boradMonth tbody td a.on {color:#fff; background:url(../images/icon_monthOn.png) no-repeat 0 0;}

		/* 시간 선택 */
		#time{
			margin:0 auto;
			border:1px solid #ccc;
			border-top:2px solid #666;
			margin-top:15px;
		}
			#time_choose{
				height:63px;
				background:#efefef;
				line-height:63px;
				text-align:center;
				font-weight:bold;
				font-size:1.2em;
			}
			#time_table{margin:0 auto;}
				#time_table td{
					height:35px;
					font-weight:bold;
					width:200px;
					text-align:center;
					}
				.time_on{
					background:#17aca8; 
					padding:8px;
					color:#fff;
					border-radius:3px;
					}
					
		/*예약요청 버튼*/
		#confirm_btn{
			overflow:hidden;
			margin-top:60px;
		}
		#confirm_btn > a{
			margin:0 auto;
			display:block;
			width:210px;
			height:60px;
			background:#1db2cd;
			border-radius:5px;
			font-size:23px;
			font-weight:bold;
			color:#fff;
			line-height:60px;
			text-align:center;
		}


/****************** 푸터 **********************/
#main_footer{
	width:100%;
	margin-top:100px; 
	border-top:1px solid #e2e2e2;
	padding-top:24px;
	padding-bottom:150px;
	
}
	#f_corp{
		text-align:center;
	}
	#f_corp,
	#f_corp > span > a, 
	#f_corp > address{
		color:#666; 
		font-size:12px;
	}
	

/********** 소제목 h3 ***********/
h3{
	font-size:20px;
	color:#444;
	margin-top:60px;
	font-weight:bold;
}


/***** CLASS ************************/
.moblie_blind{display:none;}
