@import "common.css";

/* Tags */
.tag{
    position: relative;
    display: inline-block;
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 8px;
    font-weight: lighter;
}
.tag-premium{
/*    color:#fcb828;*/
/*    background:#3d3d3d;  */
/*    border: 1px solid #30302e;*/
    background: #fcb828;
    border: none;
    height: 18px;
    padding: 1px 10px;
    border-radius: 5px;
    font-size: 13px;
    font-family : Impact_font;
}
.tag-open{
    color:#3d3d3d;
    background:#fcb828;  
}
.tag-live-lg:before{
    position: absolute;
    top: 7px;
    left: 9px;
    content: "";
    border-radius: 50%;
    background: #fcb828;
    width: 4px;
    height: 4px;
}
.tag-lg{
    color:#fcb828;
    background:#585859;
    text-transform: uppercase;
    padding:3px 8px 3px 8px;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid #292826;
    font-size: 12px;
}
.tag-md{
    color:#fff;
    background:#1f1a17;
    text-transform: uppercase;
    padding:3px 8px;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    font-size: 9px;
}
.tag-sm{
    color:#fcb828;
    background:rgba(0,0,0,.6);
    text-transform: uppercase;
    padding:1px 3px;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
/*    border: 1px solid rgba(0,0,0,.6);*/
    font-size: 9px;
}

/* Button */
.btn_option{
    position: absolute;
    right: 0;
    top: 0;
}
.btn_lg{
    display: block;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    height: 45px;
}
.btn_yellow{
    color:#282828;
    background:#fcb828;
}
.btn_line_gray{
/*    border: 1px solid #a1a1a1;*/
    color:#444;
    background: #cdcdcd;
}
.btn_line_yellow{
    border: 1px solid #fcb828;
    color:#696969;
}
.btn_yellow_black{
    background:#fcb828;
    color:#282828;
    border: 1px solid #606060;
}
.btn_line_black{
    border: 1px solid #a1a1a1;
    color:#a1a1a1;
}
.btn_line_white{
    border: 1px solid #fff;
    color:#fff;
}

.header{
    position: relative;
    height: 50px;
    transition:0.3s;
}
.header aside, .header .logo, .header nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: flex
}
.header .logo{
    position: relative;
    display: block;
    width: 90px;
    text-align: center;
    z-index: 1;
    margin:0 auto;
}
.header .search{
    left: 17px;
}
.header .bookmark{
    right: 50px;
}
.header .menu{
    right: 19px;
}

.header_sub{
    position: relative;
    width: 100%;
    padding: 15px 12px 6px 12px;
}
.header_sub h2{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    float:left;
}
.header_sub .more{
    font-size: 9px;
    float: right;
    color:#3d3d3d;
}
.header_sub .more.on{color: #fcb828;}
.header_sub .more.off{color: #717171;}
.header_sub .more span{font-size: 15px; vertical-align: -2px;}
.header_sub .category{float: left;}
.header_sub .category li{display: inline-block; margin-right: 10px; color: #cdcdcd; font-weight: bold; font-size: 12px; letter-spacing: 1px;}
.header_sub .category li.on{color: #3d3d3d;}

.header.border{border-bottom: 1px solid #9d9d9c;}
.header.active{opacity: 0.95; position: fixed; top:0; z-index: 10; background: #333; width: 100%; box-shadow: 0px 1px 2px rgba(0,0,0,0.3);}

.circle_list{
    position: relative;
    float: left;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 7px;
    padding-top: 2px;
    white-space: nowrap;
    word-break: break-all;
    -webkit-overflow-scrolling: touch
}
.circle_list li{
    display: inline-block;
    font-size: 8px;
    margin: 0 8px;
    vertical-align: top
}
.circle_list h3{
    width: 60px;
    white-space: normal;
    margin-top: 4px;
}
.circle_list h3 .rank_num{
    font-size: 12px;
    font-weight: 800;
    display: block;
    float: left;
    margin-right: 4px;
    margin-top: -2px;
}
.circle_group{
    position: relative;
    display: inline-block
}
.circle_group .on{
    position: absolute;
    right: -2px;
    top: -2px;
    color:#fff;
    background: #fcb828;
    border-radius: 50%;
    font-size: 8px;
    width:18px;
    height:18px;
    padding-top: 3px;
    padding-left: 2px;
    z-index: 3;
    font-weight: bold;
}
.circle_img:before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background:url(../imgs/default_profile.png) center 45%  no-repeat #373737;
    background-size:40px 14px;
    z-index: 1;
    background-color: #cdcdcd;
}
.circle_img{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.circle_img img{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 2;
}
.circle_img.active:before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #fcb828;
    border-radius: 50%;
    width: 58px;
    height: 58px;
    background: none;
    z-index: 3;
}

.radius_box{
    margin: 0 5px;
    border-radius: 5px;
    border:1px solid #a5a5a5;
}
.ranking_live{
    margin-top: 10px;
    margin-bottom: 10px;
}
.ranking_live .no_img{
    background:url(../imgs/default_profile.png) center 45%  no-repeat #373737;
    background-size:62px 22px;
    z-index: 1;
}
.img_thumb_big{
    position: relative;
    width: 100%;
/*    height: 259px;*/
    overflow: hidden;
    text-align: center;
}
.img_thumb_big .tag-live:before{
    position: absolute;
    top: 7px;
    left: 9px;
    content: "";
    border-radius: 50%;
    background: #fcb828;
    width: 4px;
    height: 4px;
}
.img_thumb_big .tag-live{
    position: absolute;
    top: 6px;
    left: 6px;
    padding:3px 8px 3px 17px;
    color:#fcb828;
    background: rgba(31,26,23,0.6);
    z-index: 5;
}
.img_thumb_big .tag-class{
    position: absolute;
    bottom: 3px;
    right: 3px;
    background: #fcb828;
    height: 18px;
    color: #000;
    font-family: Impact_font; 
    font-size: 13px;
    padding-top: 1px;
    text-transform:none;
}
.img_thumb_big .tag-premium{
    position: absolute;
    bottom: 3px;
    right: 52px;
    background: #fcb828;
    border: none;
    height: 18px;
    padding-right: 13px;
    font-size: 13px;
    color: #000;
    font-weight: normal;
    letter-spacing: 0px;
    padding-top: 1px;
}
.img_thumb_big .bg_blur_img{
    width: 100%;
    height: auto;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    z-index: 1;
}
.img_thumb_big .main_img{
    position: absolute;
    left: 50%;
    height:auto;
    transform: translateX(-50%);
    z-index: 2;
    height: 100%;
    width: auto;
    top: 0;
}
.img_thumb_big .main_img img{
    width: auto;
    height: 100%;
}
.ranking_live h4{
    padding: 14px 19px;
}
.ranking_live footer{
    border-top: 1px solid #adadad;
    margin: 0 6px;
    padding: 7px 0;
    position: relative;
}
.ranking_live footer ul li{
    float: left;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    color: #656565;
}
.ranking_live footer ul li:last-child{
/*    padding-top: 0;*/
}
.ranking_live .btn_option{
    right: 5px;
    top: 9px;
}

.live_list{
/*    padding: 5px;*/
    margin-top: 11px;
}
.live_list .img_thumb{
    position: relative;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    background: url(../imgs/live_thumb_sample2.jpg) 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: cover;
    width: 140px;
    height: 140px;
    margin-right: 5px;
    z-index: 2;
}
.live_list .img_thumb .time{width: 51px; height: 20px; border-radius: 5px; background: rgba(0,0,0,.5); font-size: 9px; color: #fff; font-weight: bold; display: block; position: absolute; bottom: 4px; right: 4px; text-align: center; padding-top: 4px;}
.live_list .no_img{
    background:url(../imgs/default_profile.png) center 45%  no-repeat #cdcdcd;
    background-size:62px 22px;
}
.live_list ul{
    float: right;
    width: calc(100% - 145px);
    padding: 5px 5px 0 0; 
}
.live_list li{
    margin-top: 16px;
}
.live_list li:first-child{
    margin-top: 0;
}
.live_list .contents_text{
    height: 30px
}
.live_list .tag-live:before{
    top: 7px;
    left: 9px;
    position: absolute;
    content: "";
    border-radius: 50%;
    background: #fcb828;
    width: 4px;
    height: 4px;
}
.live_list .tag-live{
    position: absolute;
    padding:3px 8px 3px 17px;
    top: 6px;
    left: 6px;
}
.live_list .tag-class{
    position: absolute;
    bottom: 3px;
    right: 3px;
    background: #fcb828;
    color: #000;
    font-family: Impact_font; 
    font-size: 13px;
    padding-top: 1px;
    text-transform:none;
        
}
.live_list .status{
    position: relative;
    border-top: 1px solid #a1a1a1;
    padding-left: 5px;
}
.live_list .status dt{
    margin: 4px 0;
}
.live_list .status dd{
    float: left;
    margin-right: 15px;
    font-weight: bold;
    color: #656565;
}
.live_list .status .btn_option{
    right: 5px;
    top: 18px;
}
.live_list .tag_area{height: 18px; position: relative;}
.live_list .tag_area span{position: relative;}
.live_list .tag_area .tag-premium{left: 12px; top: 1px; height: 18px; padding-right: 14px;}
.live_list .tag_area .tag-class{position: absolute; right: 2px; top: 3px; height: 18px;}

/* Sidebar */
.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    background: #fcb828;
    width: 300px;
    height:100%;
    text-align: center;
    z-index: 100;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: easeOutQuart;
}
.sidebar header{
    padding:58px 0 33px 0;
}
.sidebar header img{
    width:50%;
}
.sidebar .language{
    position: absolute;
    left: 10px;
    top: 7px;
}
.sidebar .btn_eng{
    width:46px;
    height:21px;
    background: rgba(0,0,0,0.3);
    color:#fff;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}
.sidebar .modify{position: absolute; top:7px; right: 10px;}
.sidebar .modify img{width: 20px;}
.sidebar .login_before{
    display: none;
    margin-bottom: 35px;
}
.sidebar .login_before li{
    float: left;
    width: 50%;
}
.sidebar .login_before li:first-child{
    margin-left: 0;
}
.sidebar .login_after{
    padding:58px 0 0 0;
    margin-bottom: 12px;
}
.sidebar .login_after li{
    margin-top: 4px;
}
.sidebar .login_after li:first-child{
    margin-top: 0;
}
.sidebar .login_after .user_img:before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width:83px;
    height:83px;
    background:url(../imgs/default_profile.png) center 45%  no-repeat;
    background-size:62px 22px;
    z-index: 1;
}
.sidebar .login_after .user_img{
    position: relative;
    width:83px;
    height:83px;
    border-radius: 50%;
    background:#fff;
    margin: 0 auto;;
    background-color:  #cdcdcd;
}
.sidebar .login_after .user_img img{
    position: relative;
    width:83px;
    height:83px;
    border-radius: 50%;
    z-index: 2;
}
.sidebar .login_after .user_img .shot_profile{
    position: absolute;
    left: 0;
    top: 0;
    width:22px;
    height:22px;
    padding: 0 1px 0 0px;
    border: 1px solid #fcbc33;
    background:#fff;
    border-radius: 50%;
    z-index: 3;
}
.sidebar .login_after .id_text{
    font-size: 19px;
    color:#2b2b2b
}
.sidebar .login_after .user_mail{
    font-size: 12px;
    color:#fff;
}
.sidebar .login_after .comment{font-size: 13px; color:#000; margin-top: 20px;}
.sidebar .login_after .profile a{color: #5e5e5e; font-size: 10px; border-bottom: 1px solid #5e5e5e; padding-bottom: 1px;}
.sidebar .btn_login{
    width:101px;
    height:39px;
    background-position: -6px -34px;
    font-size: 15px;
    color:#fcb828;
    text-shadow: -1px 1px rgba(0,0,0,.8);
}
.sidebar .btn_recharge{
    width:102px;
    height:30px;
    background: rgba(0,0,0,0.3);
    color:#fff;
    margin-bottom: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    border-radius: 5px;
}
.sidebar nav ul{background: #fff; padding: 10px 0; border-top: 1px solid #b0b0b0; text-align: left;}
.sidebar nav li{line-height: 36px;}
.sidebar nav li > a{display: block; background: url(../imgs/arr.png) no-repeat 260px; background-size: auto 11px;}
.sidebar nav li a .tit{float: left; padding-left: 20px; font-size: 13px;}
.sidebar nav li a .detail{float: right; padding-right: 40px; width: 100px; font-size: 13px; text-align: right;}
.sidebar nav li a .detail b{width: 16px; line-height: 16px; display: inline-block; background: #fcb828; border-radius: 3px; text-align: center; font-size: 8px; margin-right: 5px; transform: translateY(-1px);}
.sidebar footer a{
    display: inline-block;
    width: 100%;
    padding: 23px 0;
    color:#1a1a1a;
    font-size: 17px;
}
.sidebar nav li{}
.sidebar nav li .more_depth{background-image: url(../imgs/arr_b.png); background-size: 11px auto; background-position: 255px 50%;}
.sidebar nav li .more_depth.on{background-image: url(../imgs/arr_t.png);}
.sidebar nav li .depth2{display: none; padding: 10px 0; background: #d1d1d1;}
.sidebar nav li .depth2 a{display: block;line-height: 30px; font-size: 13px; color: #000; padding-left: 32px;}

/* Layer - Option */
.layer_option{
    position: absolute;
    bottom: 75px;
    left: 50%;
    width:95%;
    transform: translateX(-50%);
}
.layer_option button{
    display: block;
    width:100%;
    border:1px solid #fff;
    border-radius: 5px;
    padding: 12px 0;
    text-align: center;
    margin-top: 10px;
    color:#fff;
}
.layer_option button:first-child{
    margin-top: 0;
}
.layer_option button:focus{
    color:#010101;
    border-color: #fcb829;
    background: #fcb829;
}

/* Layer - Search */
.layer_search{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: #fff;
    z-index: 50;
    overflow-y:auto;
}
.layer_search .search_form input[type=text]{
    border:0
}
.layer_search .search_form{
    position: relative;
    border-bottom: 1px solid #fcb828;
    padding: 0px 15px;
}
.layer_search input{
    width: calc(100% - 70px);
    margin-left: 14px;
}
.layer_search input::-webkit-input-placeholder{
    letter-spacing: 4px;
    color:#c3c2c2
}
.layer_search .search_close{
    position: absolute;
    right: 21px;
    top: 50%;
    transform: translateY(-50%);
}
.layer_search .tags_wrap{
    padding: 0 18px;
}
.layer_search .tags_wrap h3{
    padding: 18px 0;
    font-weight: 800;
    letter-spacing: 1px;
}
.layer_search .tags_wrap .tags_list button{
    letter-spacing: 2px;
    padding: 6px 14px;
    border: 1px solid #0b0b0b;
    margin: 0 5px 5px 0;
    color: #3d3d3d;
}
.layer_search .tags_wrap .tags_list button:last-child{
    margin-right: 0;
}
.layer_search .tags_wrap .tags_list button:hover,
.layer_search .tags_wrap .tags_list button:focus{background: #fcb828; border-color: #fcb828;}

.dropDown .btn_drop{display: block; text-align: center; line-height: 30px; font-weight:bold; letter-spacing: 1px; background: #fcb828 url(../imgs/select.png) no-repeat 95% 50%; background-size: 10px auto;}
.dropDown .dropBox {height:0; overflow:hidden;}
.dropDown .dropBox.on {height:auto; background:#fff; border-bottom: 1px solid #3e3e3e;}
.dropDown .dropBox ul li a {display:block; text-align: center; line-height: 39px; font-size: 13px; color: #000;}
.dropDown .dropBox ul li a:hover,
.dropDown .dropBox ul li a:focus {background: #3e3e3e; color: #fcb828;}

.srch_result{padding-bottom: 50px;}
.srch_result .top_area{height: 41px; border-top: 1px solid #fcb828; padding: 0 15px;}
.srch_result .top_area:first-child{border-top: none;}
.srch_result .top_area h5{font-size: 12px; font-weight: bold; color: #3d3d3d; float: left; line-height: 40px;}
.srch_result .top_area h5 span{font-weight: normal; font-size: 10px; margin-left: 5px;}
.srch_result .top_area a{float: right; line-height: 40px; font-size: 11px; color: #3d3d3d;}
.result_bj{padding: 1px 15px;}
.result_bj .circle_group{display: block; margin-bottom: 7px;}
.result_bj .circle_group .circle_img{float: left; margin-right: 11px;}
.result_bj .circle_group .right_area{float: left; margin-top: 20px;}
.srch_result .radius_box:nth-of-type(1){margin-top: 0;}

/* Popup */
.layer_pop{
    position: relative;
    width: 95%;
    top: 50%;
    margin:0 auto;
    transform: translateY(-50%);
    border-radius: 5px;
    text-align: center
}
.layer_pop footer button{
    margin-top: 9px;
}
.layer_pop footer button:first-child{
    margin-top: 0;
}

.popup01{
    background: #282828;
    color:#fff;
}
.popup01 header{
    padding: 15px 0;
    border-bottom: 1px solid #fcb828;
    letter-spacing: 3px;
    font-size: 17px;
}
.popup01 main{
    padding: 12px 0;
}
.popup01 footer{
    padding: 0 11px 24px 11px;
}

/* Alert */
.popup_alert {
    background: #fff;
    padding: 0 18px;
}
.popup_alert main{
    padding: 30px 0;
}
.popup_alert footer{
    padding-bottom: 15px;
}

/* Tab Style */
.tabs-group {
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
}
.tabs-group li{
    padding: 11px 0;
}
.tab-col-2 li{
    float: left;
    width: 50%;
}
.tab-style-yellow{
    border:1px solid #fcb829;
    color:#a5a5a5
}
.tab-style-yellow .on {
    background:#fcb829;
    color:#fff
}
.tab-style-dark {
    border: 1px solid #fcb829;
    color:#a5a5a5;
}
.tab-style-dark .on{
    background:#fcb829;
    color:#000;
}
.tab-full-yellow{
    border-radius: 0;
    border-bottom: 1px solid #fcb829;
}
.tab-full-yellow .on{
    color:#fcb829;
}
.tab-pannel{
    display: none;
    padding: 10px 0;
}

/* Select Menu */
.selectmenu .sm-label{
    position: relative;
    border: 1px solid #808080;
    border-radius: 5px;
    padding: 14px 13px;
    width: 100%;
    text-align: left;
    font-size: 15px;
}
.selectmenu .sm-label:after{
    content:"";
    position: absolute;
    right: 14px;
    top: 50%;
    border-top: solid 9px #747474;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    transform: translateY(-50%);
}
.selectmenu .sm-list{
    display: none;
    position: relative;
    border: 1px solid #808080;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    color:#747474;
}
.selectmenu .sm-list li{
    position: relative;
    padding: 12px;
}
.selectmenu .sm-list .on{
    background:#3e3e3e;
    color:#fcb829;
}
.selectmenu .sm-list .on:before{
    position: absolute;
    content: "";
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 3px;
    width: 15px;
    height: 14px;
    background: url(./imgs/icon-common.png) -77px -28px no-repeat;
    background-size:400px 400px;
}
/* 내용이 많아 스크롤이 있을 시 */
.selectmenu .sm-scroll{
    overflow-y:auto;
    height: 150px;
    -webkit-overflow-scrolling: touch;
}

/* Select Box */
.selectbox li{
    position: relative;
    float: left;
    border:1px solid #808080;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
}
.selectbox .on:before{
    content: "";
    display: inline-block;
    margin-right: 3px;
    width: 15px;
    height: 14px;
    background: url(./imgs/icon-common.png) -118px -10px no-repeat;
    background-size:400px 400px;
}
.selectbox .on{
    background:#fcb829;
    padding-right: 10px;
}
.sb-lg li{
    padding: 20px 0;
}
.sb-md li{
    padding: 13px 0;
}
.sb-col-2 li{
    width: 49%;
    margin-left: 2%;
    margin-bottom: 6px;
}
.sb-col-2 li:first-child{
    margin-left: 0;
}
.sb-col-3 li{
    width: 32%;
    margin-left: 2%;
    margin-bottom: 6px;
}
.sb-col-3 li:nth-child(3n+1){
    margin-left: 0;
}

.list_contents{
    position: relative;
    border-bottom: 2px solid #a7a7a7;
    padding: 8px 25px;
}
.list_contents .circle_group,.list_contents .info{
    float: left;
}
.list_contents .info{
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
}
.list_contents .info .like{
    font-size: 9px;
}
.list_contents .live{
    color:#fcb828;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    font-weight: bold
}
.list_contents.theme_dark{
    border-color: #fcb828;
    background: #292929;
}
.list_contents.theme_dark .circle_img:before{
    border: 1px solid #fcb828;
    background: none;
    z-index: 3;
}
.list_contents.theme_dark .info{
    left: 130px;
}
.list_contents.theme_dark .no{
    margin-right: 30px;
}
.list_contents.theme_dark .onair{
    position: absolute;
    right: 23px;
    bottom: 26px;;
    color:#555;
    font-weight: bold;
    font-size: 11px;
}
.list_contents.theme_dark .onair.on{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fcb828;
    color:#fff;
    text-shadow:1px 1px 8px rgba(252,184,41,.35), 1px 1px 8px rgba(252,184,41,0);
}
.list_contents.theme_dark .circle_img {
    width: 86px;
    height: 86px;
}
.list_contents.theme_dark .circle_img img{
    width: 86px;
    height: 86px;
}
.list_contents.theme_dark .circle_img:before{
    width: 86px;
    height: 86px;
}
.schedule_head{
    position: relative;
    border-top: 1px solid #fcb828;
    border-bottom: 1px solid #fcb828;
    padding: 10px 0;
    text-align: center;
    color:#fcb828;
}
.schedule_head .btn_prev{
    color:#fcb828;
    margin-right: 14px;
    vertical-align: middle;
}
.schedule_head .btn_next{
    color:#fcb828;
    margin-left: 14px;
    vertical-align: middle;
}
.schedule_head .btn-today{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color:#222;
    background: #fcb828;
    padding: 2px 13px;
    border-radius: 10px;
    font-size: 12px;
}
.schedule_list{
    font-size: 14px;
}
.schedule_list dt{
    background: #fcb828;
    padding: 8px 0;
    text-align: center;
    font-weight: bold;
}
.schedule_list dd{
    position: relative;
    border-top: 2px solid #292929;
    padding: 10px 32px;
}
.schedule_list dd .id{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center
}
.schedule_list dd .bookmark{
    position: relative;
    margin-top: 18px;
}

/* Swiper */
.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet{
    background:#9e9e9e;
}
.swiper-pagination-bullet-active{
    background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 3px;
}

/***********************김경민 추가***********************/
/*버튼*/
.btn30{border: 1px solid #575757; height: 30px; width: 60px; border-radius: 4px; color: #000; font-size: 12px;}
.btn30.yellow_bg{border: none;}

/*아이콘*/
.icon_on{width: 38px; height: 38px; background: #fff; color: #fdb928; border-radius: 50%; border: 1px solid #fdb928; font-size: 16px; font-weight: bold; line-height: 38px; text-align: center;}

/*bg color*/
.yellow_bg{background-color: #fcb829;}

/*원 이미지*/
.round_img{border-radius: 50%; overflow: hidden;}
.round_img_y{border-radius: 50%; overflow: hidden; border: 1px solid #fcb829; display: inline-block; width: 70px; height: 70px;}
.round_img_y_huge{border-radius: 50%; overflow: hidden; border: 2px solid #fcb829; display: inline-block; width: 116px; height: 116px;}

/***********레이어***********/
/*둥근 사각형 모달 레이어*/
.modal_layer{width: 300px; height: 500px; position: fixed; left: 50%; transform: translateX(-50%); background: #fff; top: 60px; border-radius: 10px; overflow: hidden; z-index: 5;}

/*제목달린 박스*/
.y_border_box{border: 1px solid #ffad10; border-radius: 3px; height: 40px; padding: 0 13px;}
.y_border_box dt{font-size: 11px; color: #ffad10; display: inline-block; padding: 5px; background: #282828; transform: translateY(-13px);}
.y_border_box dd{transform: translateY(-5px);}
.y_border_box button{height: 39px; padding-bottom: 5px;}

/*프로필 레이어*/
.profile_layer .upper{height: 300px; background: url(../imgs/profile_bg.png) no-repeat center center; background-size: cover; position: relative;}
.profile_layer .upper .edit{width: 37px; height: 18px; background: #373737; border-radius: 3px; position: absolute; right:8px; top:7px; text-align: center; color: #fff; font-size: 10px; letter-spacing: 1px; padding-bottom: 2px;}
.profile_layer .upper span{font-size: 13px; text-align: center; display: block; padding-top: 128px; line-height: 26px; color: #000;}
.profile_layer .upper span .btn{width: 15px; height: 15px; border-radius: 3px; background: #373737; text-align: center; display: inline-block; line-height: 5px; margin-left: 6px;}
.profile_layer .upper span .btn img{width: 9px;}
.profile_layer .mid{width: 140px; height: 140px; position: absolute; left: 50%; transform: translateX(-50%); top:225px;}
.profile_layer .mid .round_wrap{width: 100%; height: 100%; border-radius: 50%; border: 1px solid #fdb928; overflow: hidden; background: url(../imgs/default_profile.png) no-repeat center 45% #373737;}
.profile_layer .mid span{position: absolute; right: 0; top: 0;}
.profile_layer .mid .cam{position: absolute; left: -6px; top: -6px; background: #fff; width: 38px; height: 38px; border-radius: 50%; border: 1px solid #fcb828; text-align: center; padding-top: 3px;}
.profile_layer .mid .cam img{width: 20px;}
.profile_layer .lower{}
.profile_layer .lower p{margin-top: 85px; color: #000; font-size: 16px; text-align: center;}
.profile_layer .lower .btn_area{text-align: center;}

/*어두운 회색 레이어(프리미엄 시청)*/
.gray_layer{background: #282828; height: 460px;}
.gray_layer header{height: 42px; border-bottom: 1px solid #ffad10; position: relative;}
.gray_layer header h3{font-size: 16px; text-align: center; color: #fff; padding-top: 12px; font-weight: 100; letter-spacing: 1px;}
.gray_layer header h3 .y_tit{text-align: left; font-size: 13px; color: #fcb829; padding-left: 16px;}
.gray_layer header button{position: absolute; top:10px; right:40px; width: 22px; height: 22px; border: 1px solid #fff; border-radius: 4px;}
.gray_layer header button.btn_r{right: 10px;}
.gray_layer header button img{width: 14px;}
.gray_layer header button.btn_r img{width: 10px; padding-bottom: 1px;}

.gray_layer section{padding:12px 11px 0; text-align: center; position: relative;}
.gray_layer section .right{position: absolute; right:15px; top:6px;}
.gray_layer section .right span{width: 26px; height: 26px; display: inline-block; font-size: 9px; color: #fff; background: #e32330; border: 1px solid #fff; border-radius: 50%; text-align: center; padding-top: 5px;}
.gray_layer section .round_img{width: 87px; height: 87px; display: inline-block; margin-bottom: 6px;}
.gray_layer section .name{font-size: 9px; color: #ffad10; letter-spacing: 1px; margin-bottom: 10px;}
.gray_layer section .intro{color: #fff; font-size: 11px; font-weight:lighter; height: 60px;}
.gray_layer section .y_border_box{ margin-bottom: 12px;}
.y_border_box .big_letter{font-size: 17px; font-family: Impact_font; color: #ffad10; transform: translateY(-9px);}
.gray_layer section .note{color: #ffad10; font-size: 11px; margin-bottom: 20px;}
.gray_layer section .note img{width: auto; vertical-align: -2px; margin: 0 3px;}
.gray_layer section .r_text{text-align: right; color: #fff; font-size: 11px; letter-spacing: 1px; margin-bottom: 15px;}
.gray_layer section .r_text span{color: #ffad10;}
.gray_layer section .r_text button{margin-left: 10px; border: 1px solid #a1a1a1; color: #a1a1a1; width: 43px; height: 22px; border-radius: 3px; font-size: 10px; text-align: center; padding-bottom: 2px;}
.gray_layer section .btn_lg{margin-bottom: 7px;}

.gray_layer.he415{height: 415px;}
.gray_layer .note_area{height: 135px; color: #ffad10; font-size: 12px; line-height: 22px; padding-top: 40px; letter-spacing: 1px; margin-bottom: 5px; text-align: center;}
.gray_layer section .w_note{ font-size: 11px; color: #fff; line-height: 20px; margin-bottom: 10px;}
.gray_layer section .y_s_note{font-size: 9px; color: #ffad10; margin-bottom: 39px;}

.book_cont{height: 330px; overflow-y: auto; color: #fff; font-size: 13px; text-align: left; font-weight: normal; line-height: 42px; padding: 0 5px;}

/*흰바탕 레이어*/
.white_layer{text-align: center; height: 268px;}
.white_layer article{padding: 24px 20px 17px;}
.white_layer .note{font-size: 17px; color: #000; line-height: 28px; margin-bottom: 10px;}
.white_layer .note2{font-size: 17px; color: #000; font-weight: bold; margin-bottom: 25px;}
.white_layer .btn_lg{margin-bottom: 10px; letter-spacing: 2px;}

.white_layer .ticket_area{}
.white_layer .ticket_area li{margin-bottom: 12px;}
.white_layer .ticket_area li:last-child{margin-bottom: 5px;}
.white_layer .ticket_area li .left{height: 56px; width: 172px; float: left; background: url(../imgs/ticket.png); background-size: 172px auto; color: #7c7c7c; font-size: 12px; padding-top: 19px; text-align: left;}
.white_layer .ticket_area li.active .left{background: url(../imgs/ticket_on.png); background-size: 172px auto; color: #000;}
.white_layer .ticket_area li .left .tit{margin-left: 14px;width: 80px; display: inline-block; text-align: center;}
.white_layer .ticket_area li .left .num{display: inline-block; width: 60px; margin-left: 9px; text-align: center;}
.white_layer .ticket_area li .right{float: right; width: 80px; height: 56px; border: 1px solid #ffad10; border-radius: 5px; padding-top: 20px; font-size: 12px; color: #ffad10; font-weight: bold; letter-spacing: 2px;}
.white_layer .ticket_area li.active .right{background: #ffad10; color: #000;}

.white_layer .r_txt{color: #303030; font-size: 10px; text-align: right; margin-bottom: 10px; height: 16px;}
.white_layer .r_txt b{font-size: 11px;}
.white_layer .note9{font-size: 9px; color: #272727; margin-bottom: 8px;}

/*상점레이어*/
.token_store{color: #000;}
.token_store .tit_img{width: 33px; margin-bottom: 10px;}
.token_store h5{font-size: 13px; margin-bottom: 5px;}
.token_store .num{font-size: 13px; vertical-align: -2px;}

.token_box{text-align: center; margin: 5px 20px;}
.token_box li{display: inline-block; width: 69px; height: 95px; padding-top: 14px;}
.token_box li.on{border: 1px solid #fcb829; border-radius: 6px;}
.token_box li .upper{position: relative;}
.token_box li .upper img{width: 33px;}
.token_box li .upper .bonus{width: 20px; height: 20px; border-radius: 50%; background: #73320f; color: #fff; text-align: center; font-size: 7px; display: inline-block; padding-top: 5px; position: absolute; right: 8px;; top:-10px;}
.token_box li .mid{font-size: 12px; letter-spacing: 1px;}
.token_box li .lower{color: #696969; font-size: 10px;}

.white_layer .short_footer{height: 33px; border-top: 1px solid #000;}
.white_layer footer .gray_text{color: #696969; font-size: 10px; display: inline-block; padding-top: 5px;}













