/*t_master.css*/

body{min-width:410px;}

/****************** header **********************/
#main_header{
	overflow:hidden;
}

	#main_logo{
		display:block;
		width:168px;
		height:39px;
		margin:0 auto;
		margin-top:10px;
	}
	
	#m_menu_btn{
		position:absolute;
		right:26px;
		top:18px;
		background:url(../images/m_btn_menu.png);
		width:20px;
		height:20px;
		cursor:pointer;
		
		overflow:hidden;
		text-indent:-9999px;
	}
	
	/*펼쳐지는 메뉴*/
	#upper_menu{
		overflow:hidden;
		width:200px;
		height:0px;
		background:rgba(0,50,100,0.9);
		position:absolute;
		right:0;
		top:65px;
		z-index:100;
		transition-duration:1s;
		}
		/*메뉴들*/
		#seq_menu{
			margin-left:10px;
		}
			#seq_menu > li{
				margin:16px 3px 0 3px;
			}
			#seq_menu > li > a{
				font-size:15px;
				color:#fff;
				font-weight:bold;
			}
		#search{
			overflow:hidden;
			margin-left:10px;
			margin-top:50px;
		}
			#search_box{
				float:left;
				height:21px;
				border:1px solid #a3c1cf;
				border-right:none;
				border-radius:3px 0 0 3px;
			}
			#search_btn{
				float:left;
			}
			
	/*toggle*/
	input#m_toggle:checked ~ nav#upper_menu{height:300px;}

	input#toggle, input#m_toggle{display:none;}	

	/*gnb*/
	#gnb{
		margin-top:15px;
		border-top:2px solid #d6e0e8;
	}
		#gnb > ul{
			overflow:hidden;
			}
			#gnb > ul > li{
				float:left;
				width:14.28%;
				margin:13px 0;
				text-align:center;
			}
			#gnb > ul > li > a{
				display:block;
				color:#555;
				font-size:14px;
				font-weight:bold;
				background:url(../images/m_gnb_border.png) no-repeat right center;
			}
			#gnb > ul > li:last-child > a{background:none;}

		/*전체서비스 펼쳐지는 메뉴*/
		#all_services{display:none;}

/****************** banner **********************/
#banner{
	height:551px;
	background:url(../images/t_bg.png) no-repeat center top;
	border-top:1px solid #fff;
}
	/*로그인 버튼*/
	#log_in{
		margin-top:400px;
		text-align:center;
		}
		#log_in > li{
			display:inline-block;
			width:47%;
		}
			#log_in > li > a{
				display:block;
				height:70px;
				background-color:rgba(0,88,187,0.75);
				background-image:url(../images/login1.png);
				background-repeat:no-repeat;
				background-position:70% center;
				margin-left:1%;
				margin-right:1%;
				text-align:left;
				font-size:18px;
				font-weight:bold;
				color:#fff;
				padding:23px 30%;
				box-sizing:border-box;
			}
			#log_in > li:last-child > a{
				background-image:url(../images/login2.png);
				background-color:rgba(0,173,230,0.75);
			}
			#log_in > li > a > br{display:none;}

	/*앱 흰색 배너*/
	#app{
		text-align:center;
		margin-top:10px;
	}
		#app > a{
			display:inline-block;
			width:93.5%;
			height:60px;
			background:rgba(255,255,255,0.8);
			padding:18px;
			box-sizing:border-box;
		}
			#app > a > span{
				font-size:15px;
				color:#10a4df;
				font-weight:bold;
			}
			#app > a > span:last-child{
				color:#0067ac;
				font-size:18px;
				margin-left:10px;
			}
			
	/*배너박스 3개*/
	#banner_boxes{
		overflow:hidden;
		margin-top:20px;
	}
		/*가운데 카드 배너*/
		#card{
			margin-bottom:10px;
			text-align:center;
		}
		#card > a{
			display:inline-block;
			width:97%;
			height:200px;
			background-color:rgba(0,88,187,0.8);
			background-image:url(../images/card.png);
			background-repeat:no-repeat;
			background-position:23% center;
		}
			#card > a > p:first-child{
				padding-top:50px;
				padding-left:250px;
				color:#fff;
				font-size:25px;
			}
			#card > a > p:last-child{
				padding-top:20px;
				padding-left:248px;
				color:#fff;
				font-size:17px;
			}
			#card > a > p > span{display:inline-block;}
			
		/*왼쪽 알림 배너*/
		#app_change{
			float:left;
			width:48%;
			margin-left:1.5%;
		}
		#app_change > a{
			display:block;
			height:200px;
			background-color:rgba(0,173,230,0.8);
			background-image:url(../images/app_change.png);
			background-repeat:no-repeat;
			background-position:center 80px;
		}
			#app_change > a > p:nth-of-type(1){
				padding-top:12px;
				padding-left:10%;
				color:#fff;
				font-size:20px;
			}
			#app_change > a > p:nth-of-type(2){
				padding-top:5px;
				text-align:center;
				color:#fff;
				font-size:20px;
			}
			#app_change > a > p:nth-of-type(3){
				padding-top:100px;
				color:#fff;
				text-align:center;
				font-size:17px;
			}
		
		/*오른쪽 이벤트 배너*/
		#exchange_event{
			float:right;
			width:48%;
			margin-right:1.5%;
		}
		#exchange_event > a{
			display:block;
			height:200px;
			background-color:rgba(0,173,230,0.8);
			background-image:url(../images/exchange.png);
			background-repeat:no-repeat;
			background-position:center 90px;
		}
			#exchange_event > a > p:nth-of-type(1){
				padding-top:12px;
				padding-left:10%;
				color:#fff;
				font-size:20px;
			}
			#exchange_event > a > p:nth-of-type(2){
				padding-top:10px;
				text-align:center;
				color:#fff;
				font-size:21px;
				font-weight:bold;
			}
			#exchange_event > a > p:nth-of-type(2) > br{display:none;}

/****************** content **********************/
#content{margin-top:430px;}
	
	/*조회 버튼 9개*/
	#big_btns{
		margin:0 auto;
		overflow:hidden;
		border:1px solid #dce3e9;
		background:#ebf0f4;
		box-sizing:border-box;
		width:97%;
	}
		#big_btns > li{
			float:left;
			width:33.33%;
			height:82px;
			background:url(../images/icon_line.png) no-repeat right center;
		}
		#big_btns > li:nth-of-type(3),
		#big_btns > li:nth-of-type(6),
		#big_btns > li:last-child{background:none;}
			#big_btns > li > a{
			display:block;
			width:100%;
			height:83px;
			font-size:12px;
			color:#333;
			text-align:center;
			padding-top:50px;
			background:url(../images/icon_1.png) no-repeat center 5px;
			box-sizing:border-box;
			}
			#big_btns > li:nth-of-type(1) > a,
			#big_btns > li:nth-of-type(2) > a,
			#big_btns > li:nth-of-type(3) > a,
			#big_btns > li:nth-of-type(4) > a,
			#big_btns > li:nth-of-type(5) > a,
			#big_btns > li:nth-of-type(6) > a,
			#big_btns > li:nth-of-type(7) > a{line-height:28px;}
			
			#big_btns > li:nth-of-type(2) > a{background-image:url(../images/icon_2.png);}
			#big_btns > li:nth-of-type(3) > a{background-image:url(../images/icon_3.png);}
			#big_btns > li:nth-of-type(4) > a{background-image:url(../images/icon_4.png);}
			#big_btns > li:nth-of-type(5) > a{background-image:url(../images/icon_5.png);}
			#big_btns > li:nth-of-type(6) > a{background-image:url(../images/icon_6.png);}
			#big_btns > li:nth-of-type(7) > a{background-image:url(../images/icon_7.png);}
			#big_btns > li:nth-of-type(8) > a{background-image:url(../images/icon_8.png);}
			#big_btns > li:nth-of-type(9) > a{background-image:url(../images/icon_9.png);}

	/* 게시판 2개 */
#bbs{
	overflow:hidden;
	margin-top:20px;
	text-align:center;
}
	#news, #event{
		overflow:hidden;
		display:inline-block;
		width:48%;
		height:165px;
		border:1px solid #dce3e9;
		padding:20px 5px;
		box-sizing:border-box;
	}
		#news > h3,
		#event > h3{
			float:left;
			padding-left:3%;
			font-size:19px;
			color:#444;
			font-weight:bold;
			margin-bottom:13px;
		}
		#news > p,
		#event > p{
			float:right;
			margin-right:7%;
			font-size:13px;
			color:#666;
			font-weight:bold;
		}
		#news table,
		#event table{
			width:100%;
		}
			#news table tr td a, 
			#news table tr td.date,
			#event table tr td a, 
			#event table tr td.date{
				float:left;
				display:block;
				color:#333;
				font-size:12px;
				padding:4px;
				text-align:left;
			}


/****************** footer **********************/
#main_footer{
	margin:0 auto;
	margin-top:80px;
	text-align:center;
	width:95%;
}

	/*푸터 로고*/
	#f_logo{
		display:none;
	}
	
	/* address & policy */
	#f_corp{
		margin:0 auto;
		margin-top:10px;
		width:80%;
	}
		#f_corp > address{
			color:#575757;
			font-size:12px;
			font-weight:bold;
		} 
		#f_corp > address:nth-of-type(3){margin-bottom:14px;}
		#f_corp > span{
			display:inline-block;
			color:#575757;
			font-size:12px;
		}
		#f_corp > address:nth-of-type(4){margin:14px 0 20px 0;}
		
	/* fms & language */
	#f_right{
		margin:0 auto;
		width:95%;
		text-align:center;
	}
		#f_right > select{
			width:150px;
			margin:10px 0 12px 16px;
			}
		#sns{
			display:inline-block;
			margin-left:20px;
			margin-bottom:50px;
		}
	
	
	
/******* CLASS ********/
.p_only{display:none;}