/*p_master.css*/

body{
	width:940px;
	margin:0 auto;
	background:url(../images/bg.png), url(../images/footer_line.png); 
	background-repeat:no-repeat, repeat-x;
	background-position:center 80px, left 1040px;
	position:relative;
}


/****************** header **********************/
#main_header{
	overflow:hidden;
}

	#main_logo{
		display:block;
		margin-top:20px;
		float:left;	
	}
	
	#upper_menu{
		float:right;
	}
		#seq_menu{
			float:left;
			margin-right:14px;
		}
			#seq_menu > li{
				display:inline-block;
				margin:16px 3px 0 3px;
			}
			#seq_menu > li > a{
				font-size:12px;
				color:#5a5e64;
				font-weight:bold;
			}
		#search{
			float:right;
			margin-top:14px;
		}
			#search_box{
				float:left;
				height:21px;
				border:1px solid #a3c1cf;
				border-right:none;
				border-radius:3px 0 0 3px;
			}
			#search_btn{
				float:left;
			}

	#gnb{
		float:left;
	}
		#gnb > ul{
			float:left;
			margin-left:63px;
		}
			#gnb > ul > li{
				display:inline-block;
				margin:13px 15px 15px 0;
			}
			#gnb > ul > li > a{
				color:#444;
				font-size:17px;
				font-weight:bold;
			}

		input#toggle{display:none;}	
		
		/* 전체서비스 메뉴버튼*/
		#toggle_label{
			float:right;
			cursor:pointer;
			margin-left:80px;
			padding-right:20px;
			margin-top:19px;
			font-size:14px;
			font-weight:bold;
			background:url(../images/all_service_btn.png) no-repeat 70px 4px;
			}
			
		/*전체서비스 펼쳐지는 메뉴*/
		#all_services{
			overflow:hidden;
			position:absolute;
			left:40%;
			right:0;
			top:81px;
			background:rgba(255,255,255,0.9);
			z-index:50;
			height:0;
			transition-duration:1s;
		}
		
			/*전체서비스 닫기 버튼*/
			#btn_close{
				float:right;
				font-weight:bold;
				font-size:18px;
				margin:10px;
				cursor:pointer;
			}
			
			/*전체서비스 세부 메뉴*/
			#all_services > ul{
				float:left;
				margin:10px 20px;
			}
			#all_services > ul > li{padding:5px;}
			#all_services > ul > li > input{padding:3px;}
			#all_services > ul > li > a > b{
				font-weight:bold; 
				font-size:1.1em;
			}
		/*toggle*/
		input#toggle:checked ~ nav#all_services{height:270px;}


/****************** banner **********************/
#banner{
	height:595px;
	box-sizing:border-box;
}
	/*로그인 버튼*/
	#log_in{margin-top:30px;}
		#log_in > li{display:inline-block;}
			#log_in > li > a{
				display:block;
				width:85px;
				height:85px;
				background-color:rgba(0,88,187,0.8);
				background-image:url(../images/login1.png);
				background-repeat:no-repeat;
				background-position:right bottom;
				margin-right:10px;
				font-size:15px;
				font-weight:bold;
				color:#fff;
				padding:13px;
				box-sizing:border-box;
			}
			#log_in > li:last-child > a{
				background-image:url(../images/login2.png);
				background-color:rgba(0,173,230,0.8);
			}

	/*앱 흰색 배너*/
	#app{margin-top:196px;}
		#app > a{
			display:block;
			width:180px;
			height:70px;
			background:url(../images/box_app.png);
			padding:15px 10px;
			box-sizing:border-box;
		}
			#app > a > span{
				font-size:15px;
				color:#10a4df;
				font-weight:bold;
			}
			#app > a > span:last-child{
				color:#0067ac;
				margin-top:13px;
			}
			
	/*배너박스 3개*/
	#banner_boxes{
		margin-top:14px;
		position:relative;
		overflow:hidden;
	}
		/*가운데 카드 배너*/
		#card{
			position:absolute;
			left:190px;
		}
		#card > a{
			display:block;
			width:560px;
			height:200px;
			background-color:rgba(0,88,187,0.8);
			background-image:url(../images/card.png);
			background-repeat:no-repeat;
			background-position:25px center;
		}
			#card > a > p:first-child{
				padding-top:52px;
				padding-left:268px;
				color:#fff;
				font-size:30px;
			}
			#card > a > p:last-child{
				padding-top:28px;
				padding-left:248px;
				color:#fff;
				font-size:18px;
			}
			
		/*왼쪽 알림 배너*/
		#app_change{
			float:left;
		}
		#app_change > a{
			display:block;
			width:180px;
			height:200px;
			background-color:rgba(0,173,230,0.8);
			background-image:url(../images/app_change.png);
			background-repeat:no-repeat;
			background-position:center 90px;
		}
			#app_change > a > p:nth-of-type(1){
				padding-top:12px;
				padding-left:15px;
				color:#fff;
				font-size:15px;
			}
			#app_change > a > p:nth-of-type(2){
				padding-top:23px;
				text-align:center;
				color:#fff;
				font-size:20px;
			}
			#app_change > a > p:nth-of-type(3){
				padding-top:95px;
				color:#fff;
				text-align:center;
				font-size:17px;
			}
		
		/*오른쪽 이벤트 배너*/
		#exchange_event{
			float:right;
		}
		#exchange_event > a{
			display:block;
			width:180px;
			height:200px;
			background-color:rgba(0,173,230,0.8);
			background-image:url(../images/exchange.png);
			background-repeat:no-repeat;
			background-position:center 100px;
		}
			#exchange_event > a > p:nth-of-type(1){
				padding-top:12px;
				padding-left:15px;
				color:#fff;
				font-size:15px;
			}
			#exchange_event > a > p:nth-of-type(2){
				padding-top:18px;
				text-align:center;
				color:#fff;
				font-size:21px;
				font-weight:bold;
			}


/****************** content **********************/
#content{}
	
	/*조회 버튼 9개*/
	#big_btns{
		overflow:hidden;
		height:83px;
		border:1px solid #dce3e9;
		background:#ebf0f4;
		box-sizing:border-box;
	}
		#big_btns > li{
			float:left;
			width:11.11%;
			background:url(../images/icon_line.png) no-repeat right center;
		}
		#big_btns > li:last-child{background:none;}
			#big_btns > li > a{
			display:block;
			width:100%;
			height:83px;
			font-size:12px;
			color:#333;
			text-align:center;
			padding-top:50px;
			background:url(../images/icon_1.png) no-repeat center 5px;
			box-sizing:border-box;
			}
			#big_btns > li:nth-of-type(1) > a,
			#big_btns > li:nth-of-type(2) > a,
			#big_btns > li:nth-of-type(3) > a,
			#big_btns > li:nth-of-type(4) > a,
			#big_btns > li:nth-of-type(5) > a,
			#big_btns > li:nth-of-type(6) > a,
			#big_btns > li:nth-of-type(7) > a{line-height:28px;}
			
			#big_btns > li:nth-of-type(2) > a{background-image:url(../images/icon_2.png);}
			#big_btns > li:nth-of-type(3) > a{background-image:url(../images/icon_3.png);}
			#big_btns > li:nth-of-type(4) > a{background-image:url(../images/icon_4.png);}
			#big_btns > li:nth-of-type(5) > a{background-image:url(../images/icon_5.png);}
			#big_btns > li:nth-of-type(6) > a{background-image:url(../images/icon_6.png);}
			#big_btns > li:nth-of-type(7) > a{background-image:url(../images/icon_7.png);}
			#big_btns > li:nth-of-type(8) > a{background-image:url(../images/icon_8.png);}
			#big_btns > li:nth-of-type(9) > a{background-image:url(../images/icon_9.png);}

	/* 게시판 2개 */
#bbs{
	overflow:hidden;
	margin-top:26px;
}
	#news, #event{
		overflow:hidden;
		float:left;
		width:49%;
		height:165px;
		border:1px solid #dce3e9;
		padding:20px 40px;
		box-sizing:border-box;
	}
	#event{float:right;}
		#news > h3,
		#event > h3{
			float:left;
			font-size:19px;
			color:#444;
			font-weight:bold;
			margin-bottom:13px;
		}
		#news > p,
		#event > p{
			float:right;
			font-size:13px;
			color:#666;
			font-weight:bold;
		}
		#news table,
		#event table{
			width:100%;
		}
			#news table tr td a, 
			#news table tr td.date,
			#event table tr td a, 
			#event table tr td.date{
				display:block;
				color:#333;
				font-size:13px;
				padding:4px;
			}


/****************** footer **********************/
#main_footer{
	overflow:hidden;
	margin-top:70px;
}

	/*푸터 로고*/
	#f_logo{
		float:left;
		display:block;
		width:95px;
		height:87px;
	}
	
	/*푸터 중앙*/
	#f_corp{
		float:left;
		width:510px;
		margin-left:20px;
		margin-top:10px;
	}
		#f_corp > address{
			color:#575757;
			font-size:12px;
			font-weight:bold;
		} 
		#f_corp > address:nth-of-type(3){margin-bottom:14px;}
		#f_corp > span{
			display:inline-block;
			color:#575757;
			font-size:12px;
		}
		#f_corp > address:nth-of-type(4){margin:14px 0 30px 0;}
		
	/*푸터 오른쪽*/
	#f_right{
		float:right;
		width:310px;
	}
		#f_right > select{
			width:135px;
			margin:10px 0 12px 16px;
			}
	
		#sns{float:right;}
	
	
/*************** CLASS **********************/
.m_only{display:none;}	
	