/**** reset.css **********************/
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*{margin:0; padding:0;}
body{font:14px/normal "Nanum Gothic", "돋움", Dotum, sans-serif; color:#333;}
table, tr, td{font:14px/normal "Nanum Gothic", "돋움", Dotum, sans-serif; color:#333; border-collapse:collapse;}
input, select, textarea, option{font:14px/normal "Nanum Gothic", "돋움", Dotum, sans-serif; color:#333;}
h1, h2, h3, h4, h5, h6{font-size:1.0em; font-weight:normal;}
img, iframe, fieldset{border:none;}
ul, li{list-style:none;}
legend{display:none;}
strong, b{font-weight:normal;}
em, i, address{font-style:normal;}
a{text-decoration:none; color:#333;}



/***** CLASS ************************/
.blind{display:none;}
