body{min-width:1450px;}

/*************** 헤더 *******************/
#main_header{background:#333;}
#main_header .upper{width:1450px; margin:0 auto; overflow:hidden;}
#main_header .upper .logo{float:left;}
#main_header .upper .r_menu{float:right; font-size:13px;}
#main_header .upper .r_menu a{display:block; float:left; color:#fff;}
#main_header .upper .r_menu a:hover{color:#b6cbcf;}
#main_header .upper .r_menu .register{margin-top:39px;}
#main_header .upper .r_menu .login{margin-top:39px; margin-left:20px;}
#main_header .upper .r_menu .search{margin-top:23px; margin-left:21px; display:block; width:45px; height:46px; background:url(http://www.saengcl.com//YANADO_img/draft_A/btn_search.jpg);}
#main_header .upper .r_menu .search:hover{background:url(http://www.saengcl.com//YANADO_img/draft_A/btn_search_on.jpg);}
#main_header .upper .r_menu .menu_btn{margin-top:20px; margin-left:18px; width:49px; height:49px; background:url(http://www.saengcl.com//YANADO_img/draft_A/btn_menu.jpg);}
#main_header .upper .r_menu .menu_btn:hover{background:url(http://www.saengcl.com//YANADO_img/draft_A/btn_menu_on.jpg);}

#main_header .gnb{width:1450px; margin:0 auto; overflow:hidden; background:#444;}
#main_header .gnb h2{float:left;}
#main_header .gnb ul.english_menu{float:left; overflow:hidden; margin-top:31px; font-size:14px; margin-left:26px;}
#main_header .gnb ul.english_menu li{float:left; margin-right:40px;}
#main_header .gnb .lang_btn{float:right;}
#main_header .gnb .lang_btn chn{width:134px; height:41px; background:url(http://www.saengcl.com//YANADO_img/draft_A/btn_sub_chn.gif);}

/*************** 컨텐츠 *******************/
#main_contents{background:#333; padding-bottom:130px;}
#main_contents .contents_wrap{width:1450px; margin:0 auto; padding-bottom:130px; background:#fff;}
/*슬라이드*/
.banner_slider{width:1450px; height:614px;}
.banner_slider .banner_container{position:relative; width:1450px; height:534px;	overflow:hidden;}
.banner_slider .banner_container #banner_content{position:absolute;	/* 1450*3 */width: 4350px;}
.banner_slider .banner_container #banner_content img{float:left;}
.banner_slider .banner_nav_container{margin:0 auto; position:relative;}
.banner_slider .banner_nav_container #banner_nav{margin-left:688px; margin-top:28px;}
.banner_slider .banner_nav_container #banner_nav > li{float:left;margin-right:10px; position:relative;}
.banner_slider .banner_nav_container #banner_nav > li a{display:block;width:17px;height:17px;background:url(http://www.saengcl.com//YANADO_img/draft_A/pager.jpg) no-repeat; border:1px solid #fff;}
.banner_slider .banner_nav_container #banner_nav > li a.select{background:url(http://www.saengcl.com//YANADO_img/draft_A/pager.jpg) no-repeat 0 -17px;}
.banner_slider .banner_nav_container #banner_nav > li > img{display:none; width:162px; height:100px; position:absolute; left:-74px; bottom:20px;}
.banner_slider .banner_nav_container #banner_nav > li:hover > img{display:block;}
.banner_slider .banner_nav_container .btn_wrap{overflow:hidden; height:66px; position:absolute; right:0; bottom:29px;}
.banner_slider .banner_nav_container .btn_wrap > li{width:66px; height:66px; float:left; margin-right:1px;}

#main_contents .contents_wrap .con_boxes li{float:left;}
/*아코디언 html5 */
#main_contents a.package_title{float:left;}
#main_contents div.package{float:left; overflow:hidden; width:1160px;/*290*4*/ height:290px;}
#main_contents div.package > input[type=radio]{display:none;}
#main_contents div.package > div{float:left; overflow:hidden;}
#main_contents div.package > div > h2{float:left;}
#main_contents div.package > div > h2 > label{cursor:pointer;}
#main_contents div.package > div > div{float:left;}
#main_contents div.package > input[type=radio] + div > div{width:0px;height:290px;overflow:hidden;transition-duration:0.2s;}
#main_contents div.package > input[type=radio]:checked + div > div{width:290px;}

#main_contents .contents_wrap .con_change{margin-left:122px; position:relative; margin-bottom:38px;}
#main_contents .contents_wrap .con_change .ticker_wrap{width:960px; height:224px; position:absolute; left:239px; bottom:0;}

#main_contents .contents_wrap .con_bbs{overflow:hidden;margin-left:122px;}
#main_contents .contents_wrap .con_bbs dl{width:358px; height:434px; border:1px solid #ddd; float:left;}
#main_contents .contents_wrap .con_bbs dl.news{border-left:none;}
#main_contents .contents_wrap .con_bbs dl dd{width:316px; margin-left:20px; font-size:14px; line-height:39px; border-bottom:1px solid #ddd;}
#main_contents .contents_wrap .con_bbs dl dd.last{border-bottom:none;}
#main_contents .contents_wrap .con_bbs dl dd a{color:#4a4a4a;}
#main_contents .contents_wrap .con_bbs dl dd a:hover{color:#000;}

#main_contents .contents_wrap .con_bbs dl.review{margin-left:19px; width:456px;}
#main_contents .contents_wrap .con_bbs dl.review dd{width:391px; margin-left:31px; font-size:13px; border-bottom:1px solid #ddd; line-height:15px; padding-bottom:17px; margin-bottom:17px;}
#main_contents .contents_wrap .con_bbs dl.review dd.last{border-bottom:none;}
#main_contents .contents_wrap .con_bbs dl.review dd a{line-height:18px; letter-spacing:-1px;}
#main_contents .contents_wrap .con_bbs dl.review dd a b{display:block; font-size:16px; line-height:12px; letter-spacing:0px;}


/*************** 하단메뉴 *******************/
#lower_gnb{background:#292929; padding-bottom:10px; overflow:hidden;}
#lower_gnb .wrap{width:1450px; margin:0 auto; }
#lower_gnb .wrap a{color:#979797;}
#lower_gnb .wrap a:hover{color:#fff;}

#lower_gnb .site_menu{float:left; overflow:hidden; padding-top:23px; }
#lower_gnb .site_menu dl{float:left; border-right:1px solid #3f3f3f; width:140px; padding-left:30px; height:206px;}
#lower_gnb .site_menu dl.first{padding-left:0px; width:152px; }
#lower_gnb .site_menu dl.last{border-right:none;}
#lower_gnb .site_menu dl dt{font-size:18px; font-weight:bold; margin-bottom:12px;}
#lower_gnb .site_menu dl dt a{color:#bdbdbd;}
#lower_gnb .site_menu dl dd{font-size:13px; line-height:25px;}

#lower_gnb .right_nav{float:right; overflow:hidden; width:145px;}
#lower_gnb .right_nav .sns{overflow:hidden; margin-top:20px;}
#lower_gnb .right_nav .sns li{float:left;}
#lower_gnb .right_nav .policy{margin-top:20px;}
#lower_gnb .right_nav .policy li{margin-bottom:12px; text-align:right;}


/*************** 푸터 *******************/
#main_footer{background:#1c1c1c;}
#main_footer .wrap{width:1450px; margin:0 auto; overflow:hidden;}
#main_footer .address{float:left;}
#main_footer .top_btn{float:right; margin-top:90px;}














