/* footer.css */

/******** right ***********/
.footerRight{
	float:right;
	width:450px;
}
	.footerRight > h1, .footerRight > ul, .footerRight > fieldset{float:left;}

/*푸터 WEBAWARD 로고*/

	.footerRight > h1{margin-right:16px;}

/* 개인정보 취급방침 등 */

	.footerRight > ul{
		width:377px;
		height:26px;
	}
	.footerRight > ul > li{float:left;}
	.footerRight > ul > li:nth-child(1),
	.footerRight > ul > li:nth-child(2),
	.footerRight > ul > li:nth-child(3){
		padding-right:14px;
		margin-right:12px;
		background:url(../images/line1.jpg) no-repeat right center;
	}
	.footerRight > ul > li:nth-child(4){
		padding-right:0;
		margin-right:0;
	}
	.footerRight > ul > li > a{
		font-size:0.9em;
		letter-spacing:-1px;
	}

/* fieldset */

fieldset{overflow:hidden;}
fieldset > input, fieldset > select{float:left;} /*input은 float 안주면 위치 잡기 힘들다. float이 초기화 역할*/

fieldset > input:nth-of-type(1){margin-right:3px;}
fieldset > input:nth-of-type(2){margin-right:28px;}
fieldset > select{
	width:112px; height:23px; 
	margin-right:28px;
	border-color:#c7c7c7;
}


/******** left ***********/
.footerLeft{
	float:left;
	width:480px;
}

	.footerLeft > address > span{
		margin-right:10px;
		font-size:0.9em;
		line-height:17px;
		letter-spacing:-1px;
	}
	.footerLeft > address > span > b{
		font-weight:normal;
		color:#8f7054
	}

	.footerLeft > p{
		width:270px; height:12px;
		background:url(../images/f_copyright.jpg);
		overflow:hidden;
		text-indent:-9999px;
	}

