/* header.css */

/* 언어설정메뉴 */
.global_container{
	position:absolute;
	top:90px; right:0;
}
	.global_container > ul{
		overflow:hidden;
		padding-left:3px;
		background:url(../images/line2.jpg) no-repeat left center;
	}
	.global_container > ul > li{
		float:left;
		padding-left:11px;
	}
	.global_container > ul > li:last-child{
		background:url(../images/line1.jpg) no-repeat left center;
		margin-left:8px;
	}
	.global_container > ul > li > a{
		display:block;
		font-size:1.2em;
		letter-spacing:-1px;
	}

/* 로고 */
#logo{
	float:left;
	margin-top:39px;
	margin-left:438px;
}
	#logo > a{
		float:left;
		display:block;
	}
	#logo > a > img{float:left;}

/* 주메뉴 */
#nav_wrap{
	position:relative;
	top:86px; /*relative의 top은 절대값(body) 기준*/
	height:26px; width:910px;
}
	/* 회원가입~페이스북 */
	ul#nav_top{
		overflow:hidden;
		position:absolute;
		left:340px;
		padding-left:20px;
		background:url(../images/line1.jpg) no-repeat left center;

		z-index:50;/*이걸 안 주면 gnb영역에 가려져서 링크가 안걸림 */
	}
	ul#nav_top > li{
		float:left;
		padding-right:15px;
	}
	ul#nav_top > li.bg_line{
		padding-right:19px;
		margin-right:15px;
		background:url(../images/line1.jpg) no-repeat right center;
	}
	ul#nav_top > li.search{
		padding-right:0;/*padding-right 15적용된 상태이므로*/
	}

	ul#nav_top > li > a{
		display:block;
		font-weight:bold;
		line-height:26px;
		letter-spacing:-1px;
	}
	ul#nav_top > li.bg_line > a{}
	ul#nav_top > li.search > a, ul#nav_top > li.face > a{
		width:28px; height:26px;
		overflow:hidden; text-indent:-9999px;
	}
	ul#nav_top > li.search > a{background:url(../images/btn_search.jpg);}
	ul#nav_top > li.face > a{background:url(../images/btn_facebook.jpg);}



	/* STORY~SHOPPING */
	ul#gnb{
		overflow:hidden;
		position:absolute;
		left:0px;

		z-index:30;
	}
	ul#gnb > li{
		float:left;
		margin-right:41px;
	}
	ul#gnb > li:last-child{
		margin-left:395px;
		margin-right:0;
	}

	ul#gnb > li > a{
		display:block;
		height:17px;
		overflow:hidden;
		text-indent:-9999px; /* 선생님은 어떤 방법으로? */
		margin-top:5px;
	}

	ul#gnb > li:nth-child(1) > a{
		width:58px;
		background:url(../images/menu_story.jpg);
	}
	ul#gnb > li:nth-child(2) > a{
		width:81px;
		background:url(../images/menu_product.jpg);
	}
	ul#gnb > li:nth-child(3) > a{
		width:101px;
		background:url(../images/menu_community.jpg);
	}
	ul#gnb > li:nth-child(4) > a{
		width:121px; height:26px;
		background:url(../images/menu_shopping.jpg);
		margin-top:0;
	} /*shopping버튼*/

