@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url(content.css);
@import url(footer.css);

/************ LAYOUT ************************/
body{
	width:1020px;
	margin:0 auto;
	background:url(../images/bg.jpg) repeat-x 0 120px;
}
#main_header{
	overflow:hidden;
	position:relative;
	height:120px;/*relative 설정시 반드시 높이 설정*/

	width:100%; 
}
#banner{
	width:100%; height:505px;
}
#content{
	overflow:hidden;
	width:100%; 
	margin-top:90px;
}
#main_footer{
	overflow:hidden;
	width:990px; 
	border-top:5px solid #000;
	margin-top:95px;
	margin-left:17px;
	padding-top:27px;
	padding-bottom:30px;
}

/* 바로가기 메뉴 */
.skip{
	display:block;
	height:0;
	overflow:hidden;
	position:absolute;
	top:-9999px;
}

/* class */
.blind{display:none;}

